openapi: 3.1.0
info:
  title: Letta Admin Sources API
  version: 1.0.0
  description: REST API for Letta, the stateful agents platform. Manage agents, memory blocks, archival passages, sources, custom tools, MCP servers, multi-agent groups, runs, and streaming responses. Available as Letta Cloud (managed) at https://api.letta.com/v1 and as the self-hosted open-source server (Apache-2.0) typically run at http://localhost:8283.
  contact:
    name: Letta
    url: https://www.letta.com/
    email: support@letta.com
  license:
    name: Apache-2.0
    url: https://github.com/letta-ai/letta/blob/main/LICENSE
  x-logo:
    url: https://www.letta.com/favicon.ico
servers:
- url: https://api.letta.com
  description: Letta Cloud (managed)
- url: https://app.letta.com
  description: Letta Cloud (app)
- url: http://localhost:8283
  description: Self-hosted Letta server
security:
- bearerAuth: []
tags:
- name: Sources
  description: Manage data sources (files, URLs) used to populate agent archival memory.
paths:
  /v1/sources/count:
    get:
      tags:
      - Sources
      summary: Count Sources
      description: Count all data sources created by a user.
      operationId: count_sources
      deprecated: true
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: integer
                title: Response Count Sources
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/sources/{source_id}:
    get:
      tags:
      - Sources
      summary: Retrieve Source
      description: Get all sources
      operationId: retrieve_source
      deprecated: true
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          minLength: 43
          maxLength: 43
          pattern: ^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the source in the format 'source-<uuid4>'
          examples:
          - source-123e4567-e89b-42d3-8456-426614174000
          title: Source Id
        description: The ID of the source in the format 'source-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Sources
      summary: Modify Source
      description: Update the name or documentation of an existing data source.
      operationId: modify_source
      deprecated: true
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          minLength: 43
          maxLength: 43
          pattern: ^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the source in the format 'source-<uuid4>'
          examples:
          - source-123e4567-e89b-42d3-8456-426614174000
          title: Source Id
        description: The ID of the source in the format 'source-<uuid4>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Sources
      summary: Delete Source
      description: Delete a data source.
      operationId: delete_source
      deprecated: true
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          minLength: 43
          maxLength: 43
          pattern: ^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the source in the format 'source-<uuid4>'
          examples:
          - source-123e4567-e89b-42d3-8456-426614174000
          title: Source Id
        description: The ID of the source in the format 'source-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/sources/name/{source_name}:
    get:
      tags:
      - Sources
      summary: Get Source ID by Name
      description: Get a source by name
      operationId: get_source_id_by_name
      deprecated: true
      parameters:
      - name: source_name
        in: path
        required: true
        schema:
          type: string
          title: Source Name
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: string
                title: Response Get Source Id By Name
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/sources/metadata:
    get:
      tags:
      - Sources
      summary: Get Sources Metadata
      description: 'Get aggregated metadata for all sources in an organization.


        Returns structured metadata including:

        - Total number of sources

        - Total number of files across all sources

        - Total size of all files

        - Per-source breakdown with file details (file_name, file_size per file) if include_detailed_per_source_metadata is True'
      operationId: get_sources_metadata
      deprecated: true
      parameters:
      - name: include_detailed_per_source_metadata
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Include Detailed Per Source Metadata
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSourcesStats'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/sources/:
    get:
      tags:
      - Sources
      summary: List Sources
      description: List all data sources created by a user.
      operationId: list_sources
      deprecated: true
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Source'
                title: Response List Sources
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Sources
      summary: Create Source
      description: Create a new data source.
      operationId: create_source
      deprecated: true
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceCreate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/sources/{source_id}/upload:
    post:
      tags:
      - Sources
      summary: Upload File to Source
      description: Upload a file to a data source.
      operationId: upload_file_to_source
      deprecated: true
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          minLength: 43
          maxLength: 43
          pattern: ^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the source in the format 'source-<uuid4>'
          examples:
          - source-123e4567-e89b-42d3-8456-426614174000
          title: Source Id
        description: The ID of the source in the format 'source-<uuid4>'
      - name: duplicate_handling
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/DuplicateFileHandling'
          description: How to handle duplicate filenames
          default: suffix
        description: How to handle duplicate filenames
      - name: name
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom name to override the uploaded file's name
          title: Name
        description: Optional custom name to override the uploaded file's name
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_file_to_source'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMetadata'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/sources/{source_id}/agents:
    get:
      tags:
      - Sources
      summary: Get Agents for Source
      description: Get all agent IDs that have the specified source attached.
      operationId: get_agents_for_source
      deprecated: true
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          minLength: 43
          maxLength: 43
          pattern: ^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the source in the format 'source-<uuid4>'
          examples:
          - source-123e4567-e89b-42d3-8456-426614174000
          title: Source Id
        description: The ID of the source in the format 'source-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                title: Response Get Agents For Source
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/sources/{source_id}/passages:
    get:
      tags:
      - Sources
      summary: List Source Passages
      description: List all passages associated with a data source.
      operationId: list_source_passages
      deprecated: true
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          minLength: 43
          maxLength: 43
          pattern: ^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the source in the format 'source-<uuid4>'
          examples:
          - source-123e4567-e89b-42d3-8456-426614174000
          title: Source Id
        description: The ID of the source in the format 'source-<uuid4>'
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Message after which to retrieve the returned messages.
          title: After
        description: Message after which to retrieve the returned messages.
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Message before which to retrieve the returned messages.
          title: Before
        description: Message before which to retrieve the returned messages.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          description: Maximum number of messages to retrieve.
          default: 100
          title: Limit
        description: Maximum number of messages to retrieve.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Passage'
                title: Response List Source Passages
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/sources/{source_id}/files:
    get:
      tags:
      - Sources
      summary: List Source Files
      description: List paginated files associated with a data source.
      operationId: list_source_files
      deprecated: true
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          minLength: 43
          maxLength: 43
          pattern: ^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the source in the format 'source-<uuid4>'
          examples:
          - source-123e4567-e89b-42d3-8456-426614174000
          title: Source Id
        description: The ID of the source in the format 'source-<uuid4>'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          description: Number of files to return
          default: 1000
          title: Limit
        description: Number of files to return
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor to fetch the next set of results
          title: After
        description: Pagination cursor to fetch the next set of results
      - name: include_content
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to include full file content
          default: false
          title: Include Content
        description: Whether to include full file content
      - name: check_status_updates
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to check and update file processing status (from the vector db service). If False, will not fetch and update the status, which may lead to performance gains.
          default: true
          title: Check Status Updates
        description: Whether to check and update file processing status (from the vector db service). If False, will not fetch and update the status, which may lead to performance gains.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileMetadata'
                title: Response List Source Files
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/sources/{source_id}/files/{file_id}:
    get:
      tags:
      - Sources
      summary: Get File Metadata
      description: Retrieve metadata for a specific file by its ID.
      operationId: get_file_metadata
      deprecated: true
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          minLength: 43
          maxLength: 43
          pattern: ^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the source in the format 'source-<uuid4>'
          examples:
          - source-123e4567-e89b-42d3-8456-426614174000
          title: Source Id
        description: The ID of the source in the format 'source-<uuid4>'
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          minLength: 41
          maxLength: 41
          pattern: ^file-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the file in the format 'file-<uuid4>'
          examples:
          - file-123e4567-e89b-42d3-8456-426614174000
          title: File Id
        description: The ID of the file in the format 'file-<uuid4>'
      - name: include_content
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to include full file content
          default: false
          title: Include Content
        description: Whether to include full file content
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileMetadata'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/sources/{source_id}/{file_id}:
    delete:
      tags:
      - Sources
      summary: Delete File from Source
      description: Delete a data source.
      operationId: delete_file_from_source
      deprecated: true
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          minLength: 43
          maxLength: 43
          pattern: ^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the source in the format 'source-<uuid4>'
          examples:
          - source-123e4567-e89b-42d3-8456-426614174000
          title: Source Id
        description: The ID of the source in the format 'source-<uuid4>'
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          minLength: 41
          maxLength: 41
          pattern: ^file-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the file in the format 'file-<uuid4>'
          examples:
          - file-123e4567-e89b-42d3-8456-426614174000
          title: File Id
        description: The ID of the file in the format 'file-<uuid4>'
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    Body_upload_file_to_source:
      properties:
        file:
          type: string
          format: binary
          title: File
      type: object
      required:
      - file
      title: Body_upload_file_to_source
    SourceCreate:
      properties:
        name:
          type: string
          title: Name
          description: The name of the source.
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: The description of the source.
        instructions:
          anyOf:
          - type: string
          - type: 'null'
          title: Instructions
          description: Instructions for how to use the source.
        metadata:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Metadata
          description: Metadata associated with the source.
        embedding:
          anyOf:
          - type: string
          - type: 'null'
          title: Embedding
          description: The handle for the embedding config used by the source.
        embedding_chunk_size:
          anyOf:
          - type: integer
          - type: 'null'
          title: Embedding Chunk Size
          description: The chunk size of the embedding.
        embedding_config:
          anyOf:
          - $ref: '#/components/schemas/EmbeddingConfig'
          - type: 'null'
          description: (Legacy) The embedding configuration used by the source.
      additionalProperties: false
      type: object
      required:
      - name
      title: SourceCreate
      description: Schema for creating a new Source.
    DuplicateFileHandling:
      type: string
      enum:
      - skip
      - error
      - suffix
      - replace
      title: DuplicateFileHandling
      description: How to handle duplicate filenames when uploading files
    FileMetadata:
      properties:
        source_id:
          type: string
          title: Source Id
          description: 'Deprecated: Use `folder_id` field instead. The unique identifier of the source associated with the document.'
          deprecated: true
        file_name:
          anyOf:
          - type: string
          - type: 'null'
          title: File Name
          description: The name of the file.
        original_file_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Original File Name
          description: The original name of the file as uploaded.
        file_path:
          anyOf:
          - type: string
          - type: 'null'
          title: File Path
          description: The path to the file.
        file_type:
          anyOf:
          - type: string
          - type: 'null'
          title: File Type
          description: The type of the file (MIME type).
        file_size:
          anyOf:
          - type: integer
          - type: 'null'
          title: File Size
          description: The size of the file in bytes.
        file_creation_date:
          anyOf:
          - type: string
          - type: 'null'
          title: File Creation Date
          description: The creation date of the file.
        file_last_modified_date:
          anyOf:
          - type: string
          - type: 'null'
          title: File Last Modified Date
          description: The last modified date of the file.
        processing_status:
          $ref: '#/components/schemas/FileProcessingStatus'
          description: The current processing status of the file (e.g. pending, parsing, embedding, completed, error).
          default: pending
        error_message:
          anyOf:
          - type: string
          - type: 'null'
          title: Error Message
          description: Optional error message if the file failed processing.
        total_chunks:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Chunks
          description: Total number of chunks for the file.
        chunks_embedded:
          anyOf:
          - type: integer
          - type: 'null'
          title: Chunks Embedded
          description: Number of chunks that have been embedded.
        content:
          anyOf:
          - type: string
          - type: 'null'
          title: Content
          description: Optional full-text content of the file; only populated on demand due to its size.
        id:
          type: string
          pattern: ^file-[a-fA-F0-9]{8}
          title: Id
          description: The human-friendly ID of the File
          examples:
          - file-123e4567-e89b-12d3-a456-426614174000
        created_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Created At
          description: The creation date of the file.
        updated_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Updated At
          description: The update date of the file.
      additionalProperties: false
      type: object
      required:
      - source_id
      title: FileMetadata
      description: Representation of a single FileMetadata
    SourceUpdate:
      properties:
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: The name of the source.
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: The description of the source.
        instructions:
          anyOf:
          - type: string
          - type: 'null'
          title: Instructions
          description: Instructions for how to use the source.
        metadata:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Metadata
          description: Metadata associated with the source.
        embedding_config:
          anyOf:
          - $ref: '#/components/schemas/EmbeddingConfig'
          - type: 'null'
          description: The embedding configuration used by the source.
      additionalProperties: false
      type: object
      title: SourceUpdate
      description: Schema for updating an existing Source.
    Source:
      properties:
        name:
          type: string
          title: Name
          description: The name of the source.
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: The description of the source.
        instructions:
          anyOf:
          - type: string
          - type: 'null'
          title: Instructions
          description: Instructions for how to use the source.
        metadata:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Metadata
          description: Metadata associated with the source.
        id:
          type: string
          pattern: ^source-[a-fA-F0-9]{8}
          title: Id
          description: The human-friendly ID of the Source
          examples:
          - source-123e4567-e89b-12d3-a456-426614174000
        embedding_config:
          $ref: '#/components/schemas/EmbeddingConfig'
          description: The embedding configuration used by the source.
        vector_db_provider:
          $ref: '#/components/schemas/VectorDBProvider'
          description: The vector database provider used for this source's passages
          default: native
        created_by_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Created By Id
          description: The id of the user that made this Tool.
        last_updated_by_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Updated By Id
          description: The id of the user that made this Tool.
        created_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Created At
          description: The timestamp when the source was created.
        updated_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Updated At
          description: The timestamp when the source was last updated.
      additionalProperties: false
      type: object
      required:
      - name
      - embedding_config
      title: Source
      description: '(Deprecated: Use Folder) Representation of a source, which is a collection of files and passages.'
    FileProcessingStatus:
      type: string
      enum:
      - pending
      - parsing
      - embedding
      - completed
      - error
      title: FileProcessingStatus
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    EmbeddingConfig:
      properties:
        embedding_endpoint_type:
          type: string
          enum:
          - openai
          - anthropic
          - bedrock
          - google_ai
          - google_vertex
          - azure
          - groq
          - ollama
          - webui
          - webui-legacy
          - lmstudio
          - lmstudio-legacy
          - llamacpp
          - koboldcpp
          - vllm
          - hugging-face
          - mistral
          - together
          - pinecone
          title: Embedding Endpoint Type
          description: The endpoint type for the model.
        embedding_endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Embedding Endpoint
          description: The endpoint for the model (`None` if local).
        embedding_model:
          type: string
          title: Embedding Model
          description: The model for the embedding.
        embedding_dim:
          type: integer
          title: Embedding Dim
          description: The dimension of the embedding.
        embedding_chunk_size:
          anyOf:
          - type: integer
          - type: 'null'
          title: Embedding Chunk Size
          description: The chunk size of the embedding.
          default: 300
        handle:
          anyOf:
          - type: string
          - type: 'null'
          title: Handle
          description: The handle for this config, in the format provider/model-name.
        batch_size:
          type: integer
          title: Batch Size
          description: The maximum batch size for processing embeddings.
          default: 32
        azure_endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Azure Endpoint
          description: The Azure endpoint for the model.
        azure_version:
          anyOf:
          - type: string
          - type: 'null'
          title: Azure Version
          description: The Azure version for the model.
        azure_deployment:
          anyOf:
          - type: string
          - type: 'null'
          title: Azure Deployment
          description: The Azure deployment for the model.
      type: object
      required:
      - embedding_endpoint_type
      - embedding_model
      - embedding_dim
      title: EmbeddingConfig
      description: Configuration for embedding model connection and processing parameters.
    FileStats:
      properties:
        file_id:
          type: string
          title: File Id
          description: Unique identifier of the file
        file_name:
          type: string
          title: File Name
          description: Name of the file
        file_size:
          anyOf:
          - type: integer
          - type: 'null'
          title: File Size
          description: Size of the file in bytes
      additionalProperties: false
      type: object
      required:
      - file_id
      - file_name
      title: FileStats
      description: File statistics for metadata endpoint
    Passage:
      properties:
        created_by_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Created By Id
          description: The id of the user that made this object.
        last_updated_by_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Updated By Id
          description: The id of the user that made this object.
        created_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Created At
          description: The creation date of the passage.
        updated_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Updated At
          description: The timestamp when the object was last updated.
        is_deleted:
          type: boolean
          title: Is Deleted
          description: Whether this passage is deleted or not.
          default: false
        archive_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Archive Id
          description: The unique identifier of the archive containing this passage.
        source_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Source Id
          description: 'Deprecated: Use `folder_id` field instead. The data source of the passage.'
          deprecated: true
        file_id:
          anyOf:
          - type: string
          - type: 'null'
          title: File Id
          description: The unique identifier of the file associated with the passage.
        file_name:
          anyOf:
          - type: string
          - type: 'null'
          title: File Name
          description: The name of the file (only for source passages).
        metadata:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Metadata
          description: The metadata of the passage.
          default: {}
        tags:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tags
          description: Tags associated with this passage.
        id:
          type: string
          pattern: ^passage-[a-fA-F0-9]{8}
          title: Id
          description: The human-friendly ID of the Passage
          examples:
          - passage-123e4567-e89b-12d3-a456-426614174000
        text:
          type: string
          title: Text
          description: The text of the passage.
        embedding:
          anyOf:
          - items:
              type: number
            type: array
          - type: 'null'
          title: Embedding
          description: The embedding of the passage.
        embedding_config:
          anyOf:
          - $ref: '#/components/schemas/EmbeddingConfig'
          - type: 'null'
          description: The embedding configuration used by the passage.
      additionalProperties: false
      type: object
      required:
      - text
      - embedding
      - embedding_config
      title: Passage
      description: Representation of a passage, which is stored in archival memory.
    VectorDBProvider:
      type: string
      enum:
      - native
      - tpuf
      - pinecone
      title: VectorDBProvider
      description: Supported vector database providers for archival memory
    SourceStats:
      properties:
        source_id:
          type: string
          title: Source Id
          description: 'Deprecated: Use `folder_id` field instead. Unique identifier of the source'
          deprecated: true
        source_name:
          type: string
          title: Source Name
          description: 'Deprecated: Use `folder_name` field instead. Name of the source'
          deprecated: true
        file_count:
          type: integer
          title: File Count
          description: Number of files in the source
          default: 0
        total_size:
          type: integer
          title: Total Size
          description: Total size of all files in bytes
          default: 0
        files:
          items:
            $ref: '#/components/schemas/FileStats'
          type: array
          title: Files
          description: List of file statistics
      additionalProperties: false
      type: object
      required:
      - source_id
      - source_name
      title: SourceStats
      description: Aggregated metadata for a source
    OrganizationSourcesStats:
      properties:
        total_sources:
          type: integer
          title: Total Sources
          description: Total number of sources
          default: 0
        total_files:
          type: integer
          title: Total Files
          description: Total number of files across all sources
          default: 0
        total_size:
          type: integer
          title: Total Size
          description: Total size of all files in bytes
          default: 0
        sources:
          items:
            $ref: '#/components/schemas/SourceStats'
          type: array
          title: Sources
          description: List of source metadata
      additionalProperties: false
      type: object
      title: OrganizationSourcesStats
      description: Complete metadata response for organization sources
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
