openapi: 3.1.0
info:
  title: Letta Admin Groups API
  version: 1.0.0
  description: REST API for Letta, the stateful agents platform. Manage agents, memory blocks, archival passages, sources, custom tools, MCP servers, multi-agent groups, runs, and streaming responses. Available as Letta Cloud (managed) at https://api.letta.com/v1 and as the self-hosted open-source server (Apache-2.0) typically run at http://localhost:8283.
  contact:
    name: Letta
    url: https://www.letta.com/
    email: support@letta.com
  license:
    name: Apache-2.0
    url: https://github.com/letta-ai/letta/blob/main/LICENSE
  x-logo:
    url: https://www.letta.com/favicon.ico
servers:
- url: https://api.letta.com
  description: Letta Cloud (managed)
- url: https://app.letta.com
  description: Letta Cloud (app)
- url: http://localhost:8283
  description: Self-hosted Letta server
security:
- bearerAuth: []
tags:
- name: Groups
  description: Coordinate multi-agent groups (supervisor/worker, round-robin, sleep-time).
paths:
  /v1/groups/:
    get:
      tags:
      - Groups
      summary: List Groups
      description: Fetch all multi-agent groups matching query.
      operationId: list_groups
      deprecated: true
      parameters:
      - name: manager_type
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/ManagerType'
          - type: 'null'
          description: Search groups by manager type
          title: Manager Type
        description: Search groups by manager type
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Group ID cursor for pagination. Returns groups that come before this group ID in the specified sort order
          title: Before
        description: Group ID cursor for pagination. Returns groups that come before this group ID in the specified sort order
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Group ID cursor for pagination. Returns groups that come after this group ID in the specified sort order
          title: After
        description: Group ID cursor for pagination. Returns groups that come after this group ID in the specified sort order
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Maximum number of groups to return
          default: 50
          title: Limit
        description: Maximum number of groups to return
      - name: order
        in: query
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
          description: Sort order for groups by creation time. 'asc' for oldest first, 'desc' for newest first
          default: asc
          title: Order
        description: Sort order for groups by creation time. 'asc' for oldest first, 'desc' for newest first
      - name: order_by
        in: query
        required: false
        schema:
          const: created_at
          type: string
          description: Field to sort by
          default: created_at
          title: Order By
        description: Field to sort by
      - name: project_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search groups by project id
          title: Project Id
        description: Search groups by project id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
                title: Response List Groups
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Groups
      summary: Create Group
      description: Create a new multi-agent group with the specified configuration.
      operationId: create_group
      deprecated: true
      parameters:
      - name: X-Project
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The project slug to associate with the group (cloud only).
          title: X-Project
        description: The project slug to associate with the group (cloud only).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/groups/count:
    get:
      tags:
      - Groups
      summary: Count Groups
      description: Get the count of all groups associated with a given user.
      operationId: count_groups
      deprecated: true
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: integer
                title: Response Count Groups
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/groups/{group_id}:
    get:
      tags:
      - Groups
      summary: Retrieve Group
      description: Retrieve the group by id.
      operationId: retrieve_group
      deprecated: true
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^group-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the group in the format 'group-<uuid4>'
          examples:
          - group-123e4567-e89b-42d3-8456-426614174000
          title: Group Id
        description: The ID of the group in the format 'group-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Groups
      summary: Modify Group
      description: Create a new multi-agent group with the specified configuration.
      operationId: modify_group
      deprecated: true
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^group-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the group in the format 'group-<uuid4>'
          examples:
          - group-123e4567-e89b-42d3-8456-426614174000
          title: Group Id
        description: The ID of the group in the format 'group-<uuid4>'
      - name: X-Project
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The project slug to associate with the group (cloud only).
          title: X-Project
        description: The project slug to associate with the group (cloud only).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Groups
      summary: Delete Group
      description: Delete a multi-agent group.
      operationId: delete_group
      deprecated: true
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^group-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the group in the format 'group-<uuid4>'
          examples:
          - group-123e4567-e89b-42d3-8456-426614174000
          title: Group Id
        description: The ID of the group in the format 'group-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/groups/{group_id}/messages/{message_id}:
    patch:
      tags:
      - Groups
      summary: Modify Group Message
      description: Update the details of a message associated with an agent.
      operationId: modify_group_message
      deprecated: true
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^group-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the group in the format 'group-<uuid4>'
          examples:
          - group-123e4567-e89b-42d3-8456-426614174000
          title: Group Id
        description: The ID of the group in the format 'group-<uuid4>'
      - name: message_id
        in: path
        required: true
        schema:
          type: string
          minLength: 44
          maxLength: 44
          pattern: ^message-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the message in the format 'message-<uuid4>'
          examples:
          - message-123e4567-e89b-42d3-8456-426614174000
          title: Message Id
        description: The ID of the message in the format 'message-<uuid4>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/UpdateSystemMessage'
              - $ref: '#/components/schemas/UpdateUserMessage'
              - $ref: '#/components/schemas/UpdateReasoningMessage'
              - $ref: '#/components/schemas/UpdateAssistantMessage'
              title: Request
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/SystemMessage'
                - $ref: '#/components/schemas/UserMessage'
                - $ref: '#/components/schemas/ReasoningMessage'
                - $ref: '#/components/schemas/HiddenReasoningMessage'
                - $ref: '#/components/schemas/ToolCallMessage'
                - $ref: '#/components/schemas/ToolReturnMessage'
                - $ref: '#/components/schemas/AssistantMessage'
                - $ref: '#/components/schemas/ApprovalRequestMessage'
                - $ref: '#/components/schemas/ApprovalResponseMessage'
                - $ref: '#/components/schemas/SummaryMessage'
                - $ref: '#/components/schemas/EventMessage'
                discriminator:
                  propertyName: message_type
                  mapping:
                    system_message: '#/components/schemas/SystemMessage'
                    user_message: '#/components/schemas/UserMessage'
                    reasoning_message: '#/components/schemas/ReasoningMessage'
                    hidden_reasoning_message: '#/components/schemas/HiddenReasoningMessage'
                    tool_call_message: '#/components/schemas/ToolCallMessage'
                    tool_return_message: '#/components/schemas/ToolReturnMessage'
                    assistant_message: '#/components/schemas/AssistantMessage'
                    approval_request_message: '#/components/schemas/ApprovalRequestMessage'
                    approval_response_message: '#/components/schemas/ApprovalResponseMessage'
                    summary_message: '#/components/schemas/SummaryMessage'
                    event_message: '#/components/schemas/EventMessage'
                title: Response Modify Group Message
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/groups/{group_id}/messages:
    get:
      tags:
      - Groups
      summary: List Group Messages
      description: Retrieve message history for an agent.
      operationId: list_group_messages
      deprecated: true
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^group-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the group in the format 'group-<uuid4>'
          examples:
          - group-123e4567-e89b-42d3-8456-426614174000
          title: Group Id
        description: The ID of the group in the format 'group-<uuid4>'
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Message ID cursor for pagination. Returns messages that come before this message ID in the specified sort order
          title: Before
        description: Message ID cursor for pagination. Returns messages that come before this message ID in the specified sort order
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Message ID cursor for pagination. Returns messages that come after this message ID in the specified sort order
          title: After
        description: Message ID cursor for pagination. Returns messages that come after this message ID in the specified sort order
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Maximum number of messages to retrieve
          default: 10
          title: Limit
        description: Maximum number of messages to retrieve
      - name: order
        in: query
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
          description: Sort order for messages by creation time. 'asc' for oldest first, 'desc' for newest first
          default: desc
          title: Order
        description: Sort order for messages by creation time. 'asc' for oldest first, 'desc' for newest first
      - name: order_by
        in: query
        required: false
        schema:
          const: created_at
          type: string
          description: Field to sort by
          default: created_at
          title: Order By
        description: Field to sort by
      - name: use_assistant_message
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to use assistant messages
          deprecated: true
          default: true
          title: Use Assistant Message
        description: Whether to use assistant messages
        deprecated: true
      - name: assistant_message_tool_name
        in: query
        required: false
        schema:
          type: string
          description: The name of the designated message tool.
          deprecated: true
          default: send_message
          title: Assistant Message Tool Name
        description: The name of the designated message tool.
        deprecated: true
      - name: assistant_message_tool_kwarg
        in: query
        required: false
        schema:
          type: string
          description: The name of the message argument.
          deprecated: true
          default: message
          title: Assistant Message Tool Kwarg
        description: The name of the message argument.
        deprecated: true
      - name: include_return_message_types
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/MessageType'
          - type: 'null'
          description: Message types to include in response. When null, all message types are returned.
          title: Include Return Message Types
        description: Message types to include in response. When null, all message types are returned.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LettaMessageUnion'
                title: Response List Group Messages
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/groups/{group_id}/reset-messages:
    patch:
      tags:
      - Groups
      summary: Reset Group Messages
      description: Delete the group messages for all agents that are part of the multi-agent group.
      operationId: reset_group_messages
      deprecated: true
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^group-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the group in the format 'group-<uuid4>'
          examples:
          - group-123e4567-e89b-42d3-8456-426614174000
          title: Group Id
        description: The ID of the group in the format 'group-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/groups/{group_id}/blocks/attach/{block_id}:
    patch:
      tags:
      - Groups
      summary: Attach Block to Group
      description: 'Attach a block to a group.

        This will add the block to the group and all agents within the group.'
      operationId: attach_block_to_group
      deprecated: true
      parameters:
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          title: Block Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^group-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the group in the format 'group-<uuid4>'
          examples:
          - group-123e4567-e89b-42d3-8456-426614174000
          title: Group Id
        description: The ID of the group in the format 'group-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/groups/{group_id}/blocks/detach/{block_id}:
    patch:
      tags:
      - Groups
      summary: Detach Block from Group
      description: 'Detach a block from a group.

        This will remove the block from the group and all agents within the group.'
      operationId: detach_block_from_group
      deprecated: true
      parameters:
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          title: Block Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^group-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the group in the format 'group-<uuid4>'
          examples:
          - group-123e4567-e89b-42d3-8456-426614174000
          title: Group Id
        description: The ID of the group in the format 'group-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    SleeptimeManagerUpdate:
      properties:
        manager_type:
          type: string
          const: sleeptime
          title: Manager Type
          description: ''
          default: sleeptime
        manager_agent_id:
          anyOf:
          - type: string
            maxLength: 42
            minLength: 42
            pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
            description: The ID of the agent in the format 'agent-<uuid4>'
            examples:
            - agent-123e4567-e89b-42d3-8456-426614174000
          - type: 'null'
          title: Manager Agent Id
          description: ''
        sleeptime_agent_frequency:
          anyOf:
          - type: integer
          - type: 'null'
          title: Sleeptime Agent Frequency
          description: ''
      type: object
      title: SleeptimeManagerUpdate
    UpdateSystemMessage:
      properties:
        message_type:
          type: string
          const: system_message
          title: Message Type
          default: system_message
        content:
          type: string
          title: Content
          description: The message content sent by the system (can be a string or an array of multi-modal content parts)
      type: object
      required:
      - content
      title: UpdateSystemMessage
    ApprovalReturn:
      properties:
        type:
          type: string
          const: approval
          title: Type
          description: The message type to be created.
          default: approval
        tool_call_id:
          type: string
          title: Tool Call Id
          description: The ID of the tool call that corresponds to this approval
        approve:
          type: boolean
          title: Approve
          description: Whether the tool has been approved
        reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reason
          description: An optional explanation for the provided approval status
      type: object
      required:
      - tool_call_id
      - approve
      title: ApprovalReturn
    SystemMessage:
      properties:
        id:
          type: string
          title: Id
        date:
          type: string
          format: date-time
          title: Date
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        message_type:
          type: string
          const: system_message
          title: Message Type
          description: The type of the message.
          default: system_message
        otid:
          anyOf:
          - type: string
          - type: 'null'
          title: Otid
          description: The offline threading id (OTID). Set by the client to deduplicate requests. Used for idempotency in background streaming mode — each message in a request must have a unique OTID. Retries of the same request should reuse the same OTIDs.
        sender_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Sender Id
        step_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Step Id
        is_err:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Err
        seq_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seq Id
        run_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Run Id
        content:
          type: string
          title: Content
          description: The message content sent by the system
      type: object
      required:
      - id
      - date
      - content
      title: SystemMessage
      description: "A message generated by the system. Never streamed back on a response, only used for cursor pagination.\n\nArgs:\n    id (str): The ID of the message\n    date (datetime): The date the message was created in ISO format\n    name (Optional[str]): The name of the sender of the message\n    content (str): The message content sent by the system"
    CompactionStats:
      properties:
        trigger:
          type: string
          title: Trigger
          description: What triggered the compaction (e.g., 'context_window_exceeded', 'post_step_context_check')
        context_tokens_before:
          anyOf:
          - type: integer
          - type: 'null'
          title: Context Tokens Before
          description: Token count before compaction (from LLM usage stats, includes full context sent to LLM)
        context_tokens_after:
          anyOf:
          - type: integer
          - type: 'null'
          title: Context Tokens After
          description: Token count after compaction (message tokens only, does not include tool definitions)
        context_window:
          type: integer
          title: Context Window
          description: The model's context window size
        messages_count_before:
          type: integer
          title: Messages Count Before
          description: Number of messages before compaction
        messages_count_after:
          type: integer
          title: Messages Count After
          description: Number of messages after compaction
      type: object
      required:
      - trigger
      - context_window
      - messages_count_before
      - messages_count_after
      title: CompactionStats
      description: Statistics about a memory compaction operation.
    UpdateReasoningMessage:
      properties:
        reasoning:
          type: string
          title: Reasoning
        message_type:
          type: string
          const: reasoning_message
          title: Message Type
          default: reasoning_message
      type: object
      required:
      - reasoning
      title: UpdateReasoningMessage
    EventMessage:
      properties:
        id:
          type: string
          title: Id
        date:
          type: string
          format: date-time
          title: Date
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        message_type:
          type: string
          const: event_message
          title: Message Type
          default: event_message
        otid:
          anyOf:
          - type: string
          - type: 'null'
          title: Otid
          description: The offline threading id (OTID). Set by the client to deduplicate requests. Used for idempotency in background streaming mode — each message in a request must have a unique OTID. Retries of the same request should reuse the same OTIDs.
        sender_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Sender Id
        step_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Step Id
        is_err:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Err
        seq_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seq Id
        run_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Run Id
        event_type:
          type: string
          const: compaction
          title: Event Type
        event_data:
          additionalProperties: true
          type: object
          title: Event Data
      type: object
      required:
      - id
      - date
      - event_type
      - event_data
      title: EventMessage
      description: A message for notifying the developer that an event that has occured (e.g. a compaction). Events are NOT part of the context window.
    ImageContent:
      properties:
        type:
          type: string
          const: image
          title: Type
          description: The type of the message.
          default: image
        source:
          oneOf:
          - $ref: '#/components/schemas/UrlImage'
          - $ref: '#/components/schemas/Base64Image'
          - $ref: '#/components/schemas/LettaImage'
          title: Source
          description: The source of the image.
          discriminator:
            propertyName: type
            mapping:
              base64: '#/components/schemas/Base64Image'
              letta: '#/components/schemas/LettaImage'
              url: '#/components/schemas/UrlImage'
      type: object
      required:
      - source
      title: ImageContent
    UserMessage:
      properties:
        id:
          type: string
          title: Id
        date:
          type: string
          format: date-time
          title: Date
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        message_type:
          type: string
          const: user_message
          title: Message Type
          description: The type of the message.
          default: user_message
        otid:
          anyOf:
          - type: string
          - type: 'null'
          title: Otid
          description: The offline threading id (OTID). Set by the client to deduplicate requests. Used for idempotency in background streaming mode — each message in a request must have a unique OTID. Retries of the same request should reuse the same OTIDs.
        sender_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Sender Id
        step_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Step Id
        is_err:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Err
        seq_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seq Id
        run_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Run Id
        content:
          anyOf:
          - items:
              $ref: '#/components/schemas/LettaUserMessageContentUnion'
            type: array
          - type: string
          title: Content
          description: The message content sent by the user (can be a string or an array of multi-modal content parts)
      type: object
      required:
      - id
      - date
      - content
      title: UserMessage
      description: "A message sent by the user. Never streamed back on a response, only used for cursor pagination.\n\nArgs:\n    id (str): The ID of the message\n    date (datetime): The date the message was created in ISO format\n    name (Optional[str]): The name of the sender of the message\n    content (Union[str, List[LettaUserMessageContentUnion]]): The message content sent by the user (can be a string or an array of multi-modal content parts)"
    AssistantMessage:
      properties:
        id:
          type: string
          title: Id
        date:
          type: string
          format: date-time
          title: Date
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        message_type:
          type: string
          const: assistant_message
          title: Message Type
          description: The type of the message.
          default: assistant_message
        otid:
          anyOf:
          - type: string
          - type: 'null'
          title: Otid
          description: The offline threading id (OTID). Set by the client to deduplicate requests. Used for idempotency in background streaming mode — each message in a request must have a unique OTID. Retries of the same request should reuse the same OTIDs.
        sender_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Sender Id
        step_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Step Id
        is_err:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Err
        seq_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seq Id
        run_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Run Id
        content:
          anyOf:
          - items:
              $ref: '#/components/schemas/LettaAssistantMessageContentUnion'
            type: array
          - type: string
          title: Content
          description: The message content sent by the agent (can be a string or an array of content parts)
      type: object
      required:
      - id
      - date
      - content
      title: AssistantMessage
      description: "A message sent by the LLM in response to user input. Used in the LLM context.\n\nArgs:\n    id (str): The ID of the message\n    date (datetime): The date the message was created in ISO format\n    name (Optional[str]): The name of the sender of the message\n    content (Union[str, List[LettaAssistantMessageContentUnion]]): The message content sent by the agent (can be a string or an array of content parts)"
    ToolCallDelta:
      properties:
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        arguments:
          anyOf:
          - type: string
          - type: 'null'
          title: Arguments
        tool_call_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Tool Call Id
      type: object
      title: ToolCallDelta
    UpdateAssistantMessage:
      properties:
        message_type:
          type: string
          const: assistant_message
          title: Message Type
          default: assistant_message
        content:
          anyOf:
          - items:
              $ref: '#/components/schemas/LettaAssistantMessageContentUnion'
            type: array
          - type: string
          title: Content
          description: The message content sent by the assistant (can be a string or an array of content parts)
      type: object
      required:
      - content
      title: UpdateAssistantMessage
    HiddenReasoningMessage:
      properties:
        id:
          type: string
          title: Id
        date:
          type: string
          format: date-time
          title: Date
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        message_type:
          type: string
          const: hidden_reasoning_message
          title: Message Type
          description: The type of the message.
          default: hidden_reasoning_message
        otid:
          anyOf:
          - type: string
          - type: 'null'
          title: Otid
          description: The offline threading id (OTID). Set by the client to deduplicate requests. Used for idempotency in background streaming mode — each message in a request must have a unique OTID. Retries of the same request should reuse the same OTIDs.
        sender_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Sender Id
        step_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Step Id
        is_err:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Err
        seq_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seq Id
        run_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Run Id
        state:
          type: string
          enum:
          - redacted
          - omitted
          title: State
        hidden_reasoning:
          anyOf:
          - type: string
          - type: 'null'
          title: Hidden Reasoning
      type: object
      required:
      - id
      - date
      - state
      title: HiddenReasoningMessage
      description: "Representation of an agent's internal reasoning where reasoning content\nhas been hidden from the response.\n\nArgs:\n    id (str): The ID of the message\n    date (datetime): The date the message was created in ISO format\n    name (Optional[str]): The name of the sender of the message\n    state (Literal[\"redacted\", \"omitted\"]): Whether the reasoning\n        content was redacted by the provider or simply omitted by the API\n    hidden_reasoning (Optional[str]): The internal reasoning of the agent"
    letta__schemas__letta_message__ToolReturn:
      properties:
        type:
          type: string
          const: tool
          title: Type
          description: The message type to be created.
          default: tool
        tool_return:
          anyOf:
          - items:
              $ref: '#/components/schemas/LettaToolReturnContentUnion'
            type: array
          - type: string
          title: Tool Return
          description: The tool return value - either a string or list of content parts (text/image)
        status:
          type: string
          enum:
          - success
          - error
          title: Status
        tool_call_id:
          type: string
          title: Tool Call Id
        stdout:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Stdout
        stderr:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Stderr
      type: object
      required:
      - tool_return
      - status
      - tool_call_id
      title: ToolReturn
    LettaUserMessageContentUnion:
      oneOf:
      - $ref: '#/components/schemas/TextContent'
      - $ref: '#/components/schemas/ImageContent'
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/TextContent'
          image: '#/components/schemas/ImageContent'
    TextContent:
      properties:
        type:
          type: string
          const: text
          title: Type
          description: The type of the message.
          default: text
        text:
          type: string
          title: Text
          description: The text content of the message.
        signature:
          anyOf:
          - type: string
          - type: 'null'
          title: Signature
          description: Stores a unique identifier for any reasoning associated with this text content.
      type: object
      required:
      - text
      title: TextContent
    SleeptimeManager:
      properties:
        manager_type:
          type: string
          const: sleeptime
          title: Manager Type
          description: ''
          default: sleeptime
        manager_agent_id:
          type: string
          maxLength: 42
          minLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          title: Manager Agent Id
          description: ''
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
        sleeptime_agent_frequency:
          anyOf:
          - type: integer
          - type: 'null'
          title: Sleeptime Agent Frequency
          description: ''
      type: object
      required:
      - manager_agent_id
      title: SleeptimeManager
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    RoundRobinManager:
      properties:
        manager_type:
          type: string
          const: round_robin
          title: Manager Type
          description: ''
          default: round_robin
        max_turns:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Turns
          description: ''
      type: object
      title: RoundRobinManager
    ToolReturnMessage:
      properties:
        id:
          type: string
          title: Id
        date:
          type: string
          format: date-time
          title: Date
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        message_type:
          type: string
          const: tool_return_message
          title: Message Type
          description: The type of the message.
          default: tool_return_message
        otid:
          anyOf:
          - type: string
          - type: 'null'
          title: Otid
          description: The offline threading id (OTID). Set by the client to deduplicate requests. Used for idempotency in background streaming mode — each message in a request must have a unique OTID. Retries of the same request should reuse the same OTIDs.
        sender_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Sender Id
        step_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Step Id
        is_err:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Err
        seq_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seq Id
        run_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Run Id
        tool_return:
          type: string
          title: Tool Return
          deprecated: true
        status:
          type: string
          enum:
          - success
          - error
          title: Status
          deprecated: true
        tool_call_id:
          type: string
          title: Tool Call Id
          deprecated: true
        stdout:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Stdout
          deprecated: true
        stderr:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Stderr
          deprecated: true
        tool_returns:
          anyOf:
          - items:
              $ref: '#/components/schemas/letta__schemas__letta_message__ToolReturn'
            type: array
          - type: 'null'
          title: Tool Returns
      type: object
      required:
      - id
      - date
      - tool_return
      - status
      - tool_call_id
      title: ToolReturnMessage
      description: "A message representing the return value of a tool call (generated by Letta executing the requested tool).\n\nArgs:\n    id (str): The ID of the message\n    date (datetime): The date the message was created in ISO format\n    name (Optional[str]): The name of the sender of the message\n    tool_return (str): The return value of the tool (deprecated, use tool_returns)\n    status (Literal[\"success\", \"error\"]): The status of the tool call (deprecated, use tool_returns)\n    tool_call_id (str): A unique identifier for the tool call that generated this message (deprecated, use tool_returns)\n    stdout (Optional[List(str)]): Captured stdout (e.g. prints, logs) from the tool invocation (deprecated, use tool_returns)\n    stderr (Optional[List(str)]): Captured stderr from the tool invocation (deprecated, use tool_returns)\n    tool_returns (Optional[List[ToolReturn]]): List of tool returns for multi-tool support"
    ManagerType:
      type: string
      enum:
      - round_robin
      - supervisor
      - dynamic
      - sleeptime
      - voice_sleeptime
      - swarm
      title: ManagerType
    ApprovalResponseMessage:
      properties:
        id:
          type: string
          title: Id
        date:
          type: string
          format: date-time
          title: Date
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        message_type:
          type: string
          const: approval_response_message
          title: Message Type
          description: The type of the message.
          default: approval_response_message
        otid:
          anyOf:
          - type: string
          - type: 'null'
          title: Otid
          description: The offline threading id (OTID). Set by the client to deduplicate requests. Used for idempotency in background streaming mode — each message in a request must have a unique OTID. Retries of the same request should reuse the same OTIDs.
        sender_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Sender Id
        step_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Step Id
        is_err:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Err
        seq_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seq Id
        run_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Run Id
        approvals:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/ApprovalReturn'
              - $ref: '#/components/schemas/letta__schemas__letta_message__ToolReturn'
              discriminator:
                propertyName: type
                mapping:
                  approval: '#/components/schemas/ApprovalReturn'
                  tool: '#/components/schemas/letta__schemas__letta_message__ToolReturn'
            type: array
          - type: 'null'
          title: Approvals
          description: The list of approval responses
        approve:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Approve
          description: Whether the tool has been approved
          deprecated: true
        approval_request_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Approval Request Id
          description: The message ID of the approval request
          deprecated: true
        reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reason
          description: An optional explanation for the provided approval status
          deprecated: true
      type: object
      required:
      - id
      - date
      title: ApprovalResponseMessage
      description: "A message representing a response form the user indicating whether a tool has been approved to run.\n\nArgs:\n    id (str): The ID of the message\n    date (datetime): The date the message was created in ISO format\n    name (Optional[str]): The name of the sender of the message\n    approve: (bool) Whether the tool has been approved\n    approval_request_id: The ID of the approval request\n    reason: (Optional[str]) An optional explanation for the provided approval status"
    LettaToolReturnContentUnion:
      oneOf:
      - $ref: '#/components/schemas/TextContent'
      - $ref: '#/components/schemas/ImageContent'
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/TextContent'
          image: '#/components/schemas/ImageContent'
    MessageType:
      type: string
      enum:
      - system_message
      - user_message
      - assistant_message
      - reasoning_message
      - hidden_reasoning_message
      - tool_call_message
      - tool_return_message
      - approval_request_message
      - approval_response_message
      - summary_message
      - event_message
      title: MessageType
    ReasoningMessage:
      properties:
        id:
          type: string
          title: Id
        date:
          type: string
          format: date-time
          title: Date
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        message_type:
          type: string
          const: reasoning_message
          title: Message Type
          description: The type of the message.
          default: reasoning_message
        otid:
          anyOf:
          - type: string
          - type: 'null'
          title: Otid
          description: The offline threading id (OTID). Set by the client to deduplicate requests. Used for idempotency in background streaming mode — each message in a request must have a unique OTID. Retries of the same request should reuse the same OTIDs.
        sender_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Sender Id
        step_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Step Id
        is_err:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Err
        seq_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seq Id
        run_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Run Id
        source:
          type: string
          enum:
          - reasoner_model
          - non_reasoner_model
          title: Source
          default: non_reasoner_model
        reasoning:
          type: string
          title: Reasoning
        signature:
          anyOf:
          - type: string
          - type: 'null'
          title: Signature
      type: object
      required:
      - id
      - date
      - reasoning
      title: ReasoningMessage
      description: "Representation of an agent's internal reasoning.\n\nArgs:\n    id (str): The ID of the message\n    date (datetime): The date the message was created in ISO format\n    name (Optional[str]): The name of the sender of the message\n    source (Literal[\"reasoner_model\", \"non_reasoner_model\"]): Whether the reasoning\n        content was generated natively by a reasoner model or derived via prompting\n    reasoning (str): The internal reasoning of the agent\n    signature (Optional[str]): The model-generated signature of the reasoning step"
    GroupCreate:
      properties:
        agent_ids:
          items:
            type: string
            maxLength: 42
            minLength: 42
            pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
            description: The ID of the agent in the format 'agent-<uuid4>'
            examples:
            - agent-123e4567-e89b-42d3-8456-426614174000
          type: array
          title: Agent Ids
          description: ''
        description:
          type: string
          title: Description
          description: ''
        manager_config:
          oneOf:
          - $ref: '#/components/schemas/RoundRobinManager'
          - $ref: '#/components/schemas/SupervisorManager'
          - $ref: '#/components/schemas/DynamicManager'
          - $ref: '#/components/schemas/SleeptimeManager'
          - $ref: '#/components/schemas/VoiceSleeptimeManager'
          title: Manager Config
          description: ''
          default:
            manager_type: round_robin
          discriminator:
            propertyName: manager_type
            mapping:
              dynamic: '#/components/schemas/DynamicManager'
              round_robin: '#/components/schemas/RoundRobinManager'
              sleeptime: '#/components/schemas/SleeptimeManager'
              supervisor: '#/components/schemas/SupervisorManager'
              voice_sleeptime: '#/components/schemas/VoiceSleeptimeManager'
        project_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Project Id
          description: The associated project id.
        shared_block_ids:
          items:
            type: string
            maxLength: 42
            minLength: 42
            pattern: ^block-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
            description: The ID of the block in the format 'block-<uuid4>'
            examples:
            - block-123e4567-e89b-42d3-8456-426614174000
          type: array
          title: Shared Block Ids
          description: ''
          default: []
          deprecated: true
        hidden:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Hidden
          description: If set to True, the group will be hidden.
      type: object
      required:
      - agent_ids
      - description
      title: GroupCreate
    Base64Image:
      properties:
        type:
          type: string
          const: base64
          title: Type
          description: The source type for the image.
          default: base64
        media_type:
          type: string
          title: Media Type
          description: The media type for the image.
        data:
          type: string
          title: Data
          description: The base64 encoded image data.
        detail:
          anyOf:
          - type: string
          - type: 'null'
          title: Detail
          description: What level of detail to use when processing and understanding the image (low, high, or auto to let the model decide)
      type: object
      required:
      - media_type
      - data
      title: Base64Image
    Group:
      properties:
        id:
          type: string
          title: Id
          description: The id of the group. Assigned by the database.
        manager_type:
          $ref: '#/components/schemas/ManagerType'
          description: ''
        agent_ids:
          items:
            type: string
          type: array
          title: Agent Ids
          description: ''
        description:
          type: string
          title: Description
          description: ''
        project_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Project Id
          description: The associated project id.
        template_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Template Id
          description: The id of the template.
        base_template_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Base Template Id
          description: The base template id.
        deployment_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Deployment Id
          description: The id of the deployment.
        shared_block_ids:
          items:
            type: string
          type: array
          title: Shared Block Ids
          description: ''
          default: []
          deprecated: true
        manager_agent_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Manager Agent Id
          description: ''
        termination_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Termination Token
          description: ''
        max_turns:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Turns
          description: ''
        sleeptime_agent_frequency:
          anyOf:
          - type: integer
          - type: 'null'
          title: Sleeptime Agent Frequency
          description: ''
        turns_counter:
          anyOf:
          - type: integer
          - type: 'null'
          title: Turns Counter
          description: ''
        last_processed_message_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Processed Message Id
          description: ''
        max_message_buffer_length:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Message Buffer Length
          description: The desired maximum length of messages in the context window of the convo agent. This is a best effort, and may be off slightly due to user/assistant interleaving.
        min_message_buffer_length:
          anyOf:
          - type: integer
          - type: 'null'
          title: Min Message Buffer Length
          description: The desired minimum length of messages in the context window of the convo agent. This is a best effort, and may be off-by-one due to user/assistant interleaving.
        hidden:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Hidden
          description: If set to True, the group will be hidden.
      additionalProperties: false
      type: object
      required:
      - id
      - manager_type
      - agent_ids
      - description
      title: Group
    SummaryMessage:
      properties:
        id:
          type: string
          title: Id
        date:
          type: string
          format: date-time
          title: Date
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        message_type:
          type: string
          const: summary_message
          title: Message Type
          default: summary_message
        otid:
          anyOf:
          - type: string
          - type: 'null'
          title: Otid
          description: The offline threading id (OTID). Set by the client to deduplicate requests. Used for idempotency in background streaming mode — each message in a request must have a unique OTID. Retries of the same request should reuse the same OTIDs.
        sender_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Sender Id
        step_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Step Id
        is_err:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Err
        seq_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seq Id
        run_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Run Id
        summary:
          type: string
          title: Summary
        compaction_stats:
          anyOf:
          - $ref: '#/components/schemas/CompactionStats'
          - type: 'null'
      type: object
      required:
      - id
      - date
      - summary
      title: SummaryMessage
      description: A message representing a summary of the conversation. Sent to the LLM as a user or system message depending on the provider.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    DynamicManagerUpdate:
      properties:
        manager_type:
          type: string
          const: dynamic
          title: Manager Type
          description: ''
          default: dynamic
        manager_agent_id:
          anyOf:
          - type: string
            maxLength: 42
            minLength: 42
            pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
            description: The ID of the agent in the format 'agent-<uuid4>'
            examples:
            - agent-123e4567-e89b-42d3-8456-426614174000
          - type: 'null'
          title: Manager Agent Id
          description: ''
        termination_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Termination Token
          description: ''
        max_turns:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Turns
          description: ''
      type: object
      title: DynamicManagerUpdate
    UpdateUserMessage:
      properties:
        message_type:
          type: string
          const: user_message
          title: Message Type
          default: user_message
        content:
          anyOf:
          - items:
              $ref: '#/components/schemas/LettaUserMessageContentUnion'
            type: array
          - type: string
          title: Content
          description: The message content sent by the user (can be a string or an array of multi-modal content parts)
      type: object
      required:
      - content
      title: UpdateUserMessage
    ApprovalRequestMessage:
      properties:
        id:
          type: string
          title: Id
        date:
          type: string
          format: date-time
          title: Date
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        message_type:
          type: string
          const: approval_request_message
          title: Message Type
          description: The type of the message.
          default: approval_request_message
        otid:
          anyOf:
          - type: string
          - type: 'null'
          title: Otid
          description: The offline threading id (OTID). Set by the client to deduplicate requests. Used for idempotency in background streaming mode — each message in a request must have a unique OTID. Retries of the same request should reuse the same OTIDs.
        sender_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Sender Id
        step_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Step Id
        is_err:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Err
        seq_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seq Id
        run_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Run Id
        tool_call:
          anyOf:
          - $ref: '#/components/schemas/ToolCall'
          - $ref: '#/components/schemas/ToolCallDelta'
          title: Tool Call
          description: The tool call that has been requested by the llm to run
          deprecated: true
        tool_calls:
          anyOf:
          - items:
              $ref: '#/components/schemas/ToolCall'
            type: array
          - $ref: '#/components/schemas/ToolCallDelta'
          - type: 'null'
          title: Tool Calls
          description: The tool calls that have been requested by the llm to run, which are pending approval
      type: object
      required:
      - id
      - date
      - tool_call
      title: ApprovalRequestMessage
      description: "A message representing a request for approval to call a tool (generated by the LLM to trigger tool execution).\n\nArgs:\n    id (str): The ID of the message\n    date (datetime): The date the message was created in ISO format\n    name (Optional[str]): The name of the sender of the message\n    tool_call (ToolCall): The tool call"
    SupervisorManagerUpdate:
      properties:
        manager_type:
          type: string
          const: supervisor
          title: Manager Type
          description: ''
          default: supervisor
        manager_agent_id:
          anyOf:
          - type: string
            maxLength: 42
            minLength: 42
            pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
            description: The ID of the agent in the format 'agent-<uuid4>'
            examples:
            - agent-123e4567-e89b-42d3-8456-426614174000
          - type: 'null'
          title: Manager Agent Id
          description: ''
      type: object
      required:
      - manager_agent_id
      title: SupervisorManagerUpdate
    LettaImage:
      properties:
        type:
          type: string
          const: letta
          title: Type
          description: The source type for the image.
          default: letta
        file_id:
          type: string
          title: File Id
          description: The unique identifier of the image file persisted in storage.
        media_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Media Type
          description: The media type for the image.
        data:
          anyOf:
          - type: string
          - type: 'null'
          title: Data
          description: The base64 encoded image data.
        detail:
          anyOf:
          - type: string
          - type: 'null'
          title: Detail
          description: What level of detail to use when processing and understanding the image (low, high, or auto to let the model decide)
      type: object
      required:
      - file_id
      title: LettaImage
    GroupUpdate:
      properties:
        agent_ids:
          anyOf:
          - items:
              type: string
              maxLength: 42
              minLength: 42
              pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
              description: The ID of the agent in the format 'agent-<uuid4>'
              examples:
              - agent-123e4567-e89b-42d3-8456-426614174000
            type: array
          - type: 'null'
          title: Agent Ids
          description: ''
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: ''
        manager_config:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/RoundRobinManagerUpdate'
            - $ref: '#/components/schemas/SupervisorManagerUpdate'
            - $ref: '#/components/schemas/DynamicManagerUpdate'
            - $ref: '#/components/schemas/SleeptimeManagerUpdate'
            - $ref: '#/components/schemas/VoiceSleeptimeManagerUpdate'
            discriminator:
              propertyName: manager_type
              mapping:
                dynamic: '#/components/schemas/DynamicManagerUpdate'
                round_robin: '#/components/schemas/RoundRobinManagerUpdate'
                sleeptime: '#/components/schemas/SleeptimeManagerUpdate'
                supervisor: '#/components/schemas/SupervisorManagerUpdate'
                voice_sleeptime: '#/components/schemas/VoiceSleeptimeManagerUpdate'
          - type: 'null'
          title: Manager Config
          description: ''
        project_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Project Id
          description: The associated project id.
        shared_block_ids:
          anyOf:
          - items:
              type: string
              maxLength: 42
              minLength: 42
              pattern: ^block-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
              description: The ID of the block in the format 'block-<uuid4>'
              examples:
              - block-123e4567-e89b-42d3-8456-426614174000
            type: array
          - type: 'null'
          title: Shared Block Ids
          description: ''
          deprecated: true
      type: object
      title: GroupUpdate
    VoiceSleeptimeManagerUpdate:
      properties:
        manager_type:
          type: string
          const: voice_sleeptime
          title: Manager Type
          description: ''
          default: voice_sleeptime
        manager_agent_id:
          anyOf:
          - type: string
            maxLength: 42
            minLength: 42
            pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
            description: The ID of the agent in the format 'agent-<uuid4>'
            examples:
            - agent-123e4567-e89b-42d3-8456-426614174000
          - type: 'null'
          title: Manager Agent Id
          description: ''
        max_message_buffer_length:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Message Buffer Length
          description: The desired maximum length of messages in the context window of the convo agent. This is a best effort, and may be off slightly due to user/assistant interleaving.
        min_message_buffer_length:
          anyOf:
          - type: integer
          - type: 'null'
          title: Min Message Buffer Length
          description: The desired minimum length of messages in the context window of the convo agent. This is a best effort, and may be off-by-one due to user/assistant interleaving.
      type: object
      title: VoiceSleeptimeManagerUpdate
    UrlImage:
      properties:
        type:
          type: string
          const: url
          title: Type
          description: The source type for the image.
          default: url
        url:
          type: string
          title: Url
          description: The URL of the image.
      type: object
      required:
      - url
      title: UrlImage
    LettaMessageUnion:
      oneOf:
      - $ref: '#/components/schemas/SystemMessage'
      - $ref: '#/components/schemas/UserMessage'
      - $ref: '#/components/schemas/ReasoningMessage'
      - $ref: '#/components/schemas/HiddenReasoningMessage'
      - $ref: '#/components/schemas/ToolCallMessage'
      - $ref: '#/components/schemas/ToolReturnMessage'
      - $ref: '#/components/schemas/AssistantMessage'
      - $ref: '#/components/schemas/ApprovalRequestMessage'
      - $ref: '#/components/schemas/ApprovalResponseMessage'
      - $ref: '#/components/schemas/SummaryMessage'
      - $ref: '#/components/schemas/EventMessage'
      discriminator:
        propertyName: message_type
        mapping:
          system_message: '#/components/schemas/SystemMessage'
          user_message: '#/components/schemas/UserMessage'
          reasoning_message: '#/components/schemas/ReasoningMessage'
          hidden_reasoning_message: '#/components/schemas/HiddenReasoningMessage'
          tool_call_message: '#/components/schemas/ToolCallMessage'
          tool_return_message: '#/components/schemas/ToolReturnMessage'
          assistant_message: '#/components/schemas/AssistantMessage'
          approval_request_message: '#/components/schemas/ApprovalRequestMessage'
          approval_response_message: '#/components/schemas/ApprovalResponseMessage'
          summary_message: '#/components/schemas/SummaryMessage'
          event_message: '#/components/schemas/EventMessage'
    LettaAssistantMessageContentUnion:
      oneOf:
      - $ref: '#/components/schemas/TextContent'
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/TextContent'
    VoiceSleeptimeManager:
      properties:
        manager_type:
          type: string
          const: voice_sleeptime
          title: Manager Type
          description: ''
          default: voice_sleeptime
        manager_agent_id:
          type: string
          maxLength: 42
          minLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          title: Manager Agent Id
          description: ''
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
        max_message_buffer_length:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Message Buffer Length
          description: The desired maximum length of messages in the context window of the convo agent. This is a best effort, and may be off slightly due to user/assistant interleaving.
        min_message_buffer_length:
          anyOf:
          - type: integer
          - type: 'null'
          title: Min Message Buffer Length
          description: The desired minimum length of messages in the context window of the convo agent. This is a best effort, and may be off-by-one due to user/assistant interleaving.
      type: object
      required:
      - manager_agent_id
      title: VoiceSleeptimeManager
    RoundRobinManagerUpdate:
      properties:
        manager_type:
          type: string
          const: round_robin
          title: Manager Type
          description: ''
          default: round_robin
        max_turns:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Turns
          description: ''
      type: object
      title: RoundRobinManagerUpdate
    ToolCall:
      properties:
        name:
          type: string
          title: Name
        arguments:
          type: string
          title: Arguments
        tool_call_id:
          type: string
          title: Tool Call Id
      type: object
      required:
      - name
      - arguments
      - tool_call_id
      title: ToolCall
    DynamicManager:
      properties:
        manager_type:
          type: string
          const: dynamic
          title: Manager Type
          description: ''
          default: dynamic
        manager_agent_id:
          type: string
          maxLength: 42
          minLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          title: Manager Agent Id
          description: ''
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
        termination_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Termination Token
          description: ''
          default: DONE!
        max_turns:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Turns
          description: ''
      type: object
      required:
      - manager_agent_id
      title: DynamicManager
    SupervisorManager:
      properties:
        manager_type:
          type: string
          const: supervisor
          title: Manager Type
          description: ''
          default: supervisor
        manager_agent_id:
          type: string
          maxLength: 42
          minLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          title: Manager Agent Id
          description: ''
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
      type: object
      required:
      - manager_agent_id
      title: SupervisorManager
    ToolCallMessage:
      properties:
        id:
          type: string
          title: Id
        date:
          type: string
          format: date-time
          title: Date
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        message_type:
          type: string
          const: tool_call_message
          title: Message Type
          description: The type of the message.
          default: tool_call_message
        otid:
          anyOf:
          - type: string
          - type: 'null'
          title: Otid
          description: The offline threading id (OTID). Set by the client to deduplicate requests. Used for idempotency in background streaming mode — each message in a request must have a unique OTID. Retries of the same request should reuse the same OTIDs.
        sender_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Sender Id
        step_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Step Id
        is_err:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Err
        seq_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seq Id
        run_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Run Id
        tool_call:
          anyOf:
          - $ref: '#/components/schemas/ToolCall'
          - $ref: '#/components/schemas/ToolCallDelta'
          title: Tool Call
          deprecated: true
        tool_calls:
          anyOf:
          - items:
              $ref: '#/components/schemas/ToolCall'
            type: array
          - $ref: '#/components/schemas/ToolCallDelta'
          - type: 'null'
          title: Tool Calls
      type: object
      required:
      - id
      - date
      - tool_call
      title: ToolCallMessage
      description: "A message representing a request to call a tool (generated by the LLM to trigger tool execution).\n\nArgs:\n    id (str): The ID of the message\n    date (datetime): The date the message was created in ISO format\n    name (Optional[str]): The name of the sender of the message\n    tool_call (Union[ToolCall, ToolCallDelta]): The tool call"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
