openapi: 3.1.0
info:
  title: Letta Admin Agents API
  version: 1.0.0
  description: REST API for Letta, the stateful agents platform. Manage agents, memory blocks, archival passages, sources, custom tools, MCP servers, multi-agent groups, runs, and streaming responses. Available as Letta Cloud (managed) at https://api.letta.com/v1 and as the self-hosted open-source server (Apache-2.0) typically run at http://localhost:8283.
  contact:
    name: Letta
    url: https://www.letta.com/
    email: support@letta.com
  license:
    name: Apache-2.0
    url: https://github.com/letta-ai/letta/blob/main/LICENSE
  x-logo:
    url: https://www.letta.com/favicon.ico
servers:
- url: https://api.letta.com
  description: Letta Cloud (managed)
- url: https://app.letta.com
  description: Letta Cloud (app)
- url: http://localhost:8283
  description: Self-hosted Letta server
security:
- bearerAuth: []
tags:
- name: Agents
  description: Create, list, modify, export, and delete stateful agents with memory and tools.
paths:
  /v1/agents/:
    get:
      tags:
      - Agents
      summary: List Agents
      description: Get a list of all agents.
      operationId: list_agents
      parameters:
      - name: name
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Name of the agent
          title: Name
        description: Name of the agent
      - name: tags
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: List of tags to filter agents by
          title: Tags
        description: List of tags to filter agents by
      - name: match_all_tags
        in: query
        required: false
        schema:
          type: boolean
          description: If True, only returns agents that match ALL given tags. Otherwise, return agents that have ANY of the passed-in tags.
          default: false
          title: Match All Tags
        description: If True, only returns agents that match ALL given tags. Otherwise, return agents that have ANY of the passed-in tags.
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Cursor for pagination
          title: Before
        description: Cursor for pagination
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Cursor for pagination
          title: After
        description: Cursor for pagination
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Limit for pagination
          default: 50
          title: Limit
        description: Limit for pagination
      - name: query_text
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search agents by name
          title: Query Text
        description: Search agents by name
      - name: project_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search agents by project ID - this will default to your default project on cloud
          title: Project Id
        description: Search agents by project ID - this will default to your default project on cloud
      - name: template_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search agents by template ID
          title: Template Id
        description: Search agents by template ID
      - name: base_template_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search agents by base template ID
          title: Base Template Id
        description: Search agents by base template ID
      - name: identity_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search agents by identity ID
          title: Identity Id
        description: Search agents by identity ID
      - name: identifier_keys
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Search agents by identifier keys
          title: Identifier Keys
        description: Search agents by identifier keys
      - name: include_relationships
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Specify which relational fields (e.g., 'tools', 'sources', 'memory') to include in the response. If not provided, all relationships are loaded by default. Using this can optimize performance by reducing unnecessary joins.This is a legacy parameter, and no longer supported after 1.0.0 SDK versions.
          deprecated: true
          title: Include Relationships
        description: Specify which relational fields (e.g., 'tools', 'sources', 'memory') to include in the response. If not provided, all relationships are loaded by default. Using this can optimize performance by reducing unnecessary joins.This is a legacy parameter, and no longer supported after 1.0.0 SDK versions.
        deprecated: true
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            enum:
            - agent.blocks
            - agent.identities
            - agent.managed_group
            - agent.pending_approval
            - agent.secrets
            - agent.sources
            - agent.tags
            - agent.tools
            type: string
          description: Specify which relational fields to include in the response. No relationships are included by default.
          default: []
          title: Include
        description: Specify which relational fields to include in the response. No relationships are included by default.
      - name: order
        in: query
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
          description: Sort order for agents by creation time. 'asc' for oldest first, 'desc' for newest first
          default: desc
          title: Order
        description: Sort order for agents by creation time. 'asc' for oldest first, 'desc' for newest first
      - name: order_by
        in: query
        required: false
        schema:
          enum:
          - created_at
          - updated_at
          - last_run_completion
          type: string
          description: Field to sort by
          default: created_at
          title: Order By
        description: Field to sort by
      - name: ascending
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to sort agents oldest to newest (True) or newest to oldest (False, default)
          deprecated: true
          default: false
          title: Ascending
        description: Whether to sort agents oldest to newest (True) or newest to oldest (False, default)
        deprecated: true
      - name: sort_by
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Field to sort by. Options: ''created_at'' (default), ''last_run_completion'''
          deprecated: true
          default: created_at
          title: Sort By
        description: 'Field to sort by. Options: ''created_at'' (default), ''last_run_completion'''
        deprecated: true
      - name: last_stop_reason
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/StopReasonType'
          - type: 'null'
          description: Filter agents by their last stop reason.
          title: Last Stop Reason
        description: Filter agents by their last stop reason.
      - name: created_by_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter agents by the user who created them.
          title: Created By Id
        description: Filter agents by the user who created them.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentState'
                title: Response List Agents
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Agents
      summary: Create Agent
      description: Create an agent.
      operationId: create_agent
      parameters:
      - name: X-Project
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The project slug to associate with the agent (cloud only).
          title: X-Project
        description: The project slug to associate with the agent (cloud only).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentState'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/count:
    get:
      tags:
      - Agents
      summary: Count Agents
      description: 'Get the total number of agents with optional filtering.

        Supports the same filters as list_agents for consistent querying.'
      operationId: count_agents
      parameters:
      - name: name
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Name of the agent
          title: Name
        description: Name of the agent
      - name: tags
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: List of tags to filter agents by
          title: Tags
        description: List of tags to filter agents by
      - name: match_all_tags
        in: query
        required: false
        schema:
          type: boolean
          description: If True, only counts agents that match ALL given tags. Otherwise, counts agents that have ANY of the passed-in tags.
          default: false
          title: Match All Tags
        description: If True, only counts agents that match ALL given tags. Otherwise, counts agents that have ANY of the passed-in tags.
      - name: query_text
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search agents by name
          title: Query Text
        description: Search agents by name
      - name: project_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search agents by project ID - this will default to your default project on cloud
          title: Project Id
        description: Search agents by project ID - this will default to your default project on cloud
      - name: template_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search agents by template ID
          title: Template Id
        description: Search agents by template ID
      - name: base_template_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search agents by base template ID
          title: Base Template Id
        description: Search agents by base template ID
      - name: identity_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search agents by identity ID
          title: Identity Id
        description: Search agents by identity ID
      - name: identifier_keys
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Search agents by identifier keys
          title: Identifier Keys
        description: Search agents by identifier keys
      - name: last_stop_reason
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/StopReasonType'
          - type: 'null'
          description: Filter agents by their last stop reason.
          title: Last Stop Reason
        description: Filter agents by their last stop reason.
      - name: created_by_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter agents by the user who created them.
          title: Created By Id
        description: Filter agents by the user who created them.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: integer
                title: Response Count Agents
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/export:
    get:
      tags:
      - Agents
      summary: Export Agent
      description: Export the serialized JSON representation of an agent, formatted with indentation.
      operationId: export_agent
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
      - name: max_steps
        in: query
        required: false
        schema:
          type: integer
          deprecated: true
          default: 100
          title: Max Steps
        deprecated: true
      - name: use_legacy_format
        in: query
        required: false
        schema:
          type: boolean
          description: If True, exports using the legacy single-agent 'v1' format with inline tools/blocks. If False, exports using the new multi-entity 'v2' format, with separate agents, tools, blocks, files, etc.
          deprecated: true
          default: false
          title: Use Legacy Format
        description: If True, exports using the legacy single-agent 'v1' format with inline tools/blocks. If False, exports using the new multi-entity 'v2' format, with separate agents, tools, blocks, files, etc.
        deprecated: true
      - name: conversation_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Conversation ID to export. If provided, uses messages from this conversation instead of the agent's global message history.
          title: Conversation Id
        description: Conversation ID to export. If provided, uses messages from this conversation instead of the agent's global message history.
      - name: scrub_messages
        in: query
        required: false
        schema:
          type: boolean
          description: If True, excludes all messages from the export. Useful for sharing agent configs without conversation history.
          default: false
          title: Scrub Messages
        description: If True, excludes all messages from the export. Useful for sharing agent configs without conversation history.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_export_agent'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Agents
      summary: Export Agent with Skills
      description: 'Export the serialized JSON representation of an agent with optional skills.


        This POST endpoint allows including skills in the export by providing them in the request body.

        Skills are resolved client-side and passed as SkillSchema objects containing the skill files.'
      operationId: export_agent_with_skills
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/ExportAgentRequest'
              - type: 'null'
              title: Request
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/import:
    post:
      tags:
      - Agents
      summary: Import Agent
      description: 'Import a serialized agent file and recreate the agent(s) in the system.

        Returns the IDs of all imported agents.'
      operationId: import_agent
      parameters:
      - name: x-override-embedding-model
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Override-Embedding-Model
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_import_agent'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportedAgentsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/context:
    get:
      tags:
      - Agents
      summary: Retrieve Agent Context Window
      description: Retrieve the context window of a specific agent.
      operationId: retrieve_agent_context_window
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      - name: conversation_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Conversation ID to get context window for. If provided, uses messages from this conversation.
          title: Conversation Id
        description: Conversation ID to get context window for. If provided, uses messages from this conversation.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextWindowOverview'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}:
    patch:
      tags:
      - Agents
      summary: Modify Agent
      description: Update an existing agent.
      operationId: modify_agent
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgent'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentState'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Agents
      summary: Retrieve Agent
      description: Get the state of the agent.
      operationId: retrieve_agent
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      - name: include_relationships
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Specify which relational fields (e.g., 'tools', 'sources', 'memory') to include in the response. If not provided, all relationships are loaded by default. Using this can optimize performance by reducing unnecessary joins.This is a legacy parameter, and no longer supported after 1.0.0 SDK versions.
          deprecated: true
          title: Include Relationships
        description: Specify which relational fields (e.g., 'tools', 'sources', 'memory') to include in the response. If not provided, all relationships are loaded by default. Using this can optimize performance by reducing unnecessary joins.This is a legacy parameter, and no longer supported after 1.0.0 SDK versions.
        deprecated: true
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            enum:
            - agent.blocks
            - agent.identities
            - agent.managed_group
            - agent.pending_approval
            - agent.secrets
            - agent.sources
            - agent.tags
            - agent.tools
            type: string
          description: Specify which relational fields to include in the response. No relationships are included by default.
          default: []
          title: Include
        description: Specify which relational fields to include in the response. No relationships are included by default.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentState'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Agents
      summary: Delete Agent
      description: Delete an agent.
      operationId: delete_agent
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/tools:
    get:
      tags:
      - Agents
      summary: List Tools for Agent
      description: Get tools from an existing agent.
      operationId: list_tools_for_agent
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Tool ID cursor for pagination. Returns tools that come before this tool ID in the specified sort order
          title: Before
        description: Tool ID cursor for pagination. Returns tools that come before this tool ID in the specified sort order
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Tool ID cursor for pagination. Returns tools that come after this tool ID in the specified sort order
          title: After
        description: Tool ID cursor for pagination. Returns tools that come after this tool ID in the specified sort order
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Maximum number of tools to return
          default: 10
          title: Limit
        description: Maximum number of tools to return
      - name: order
        in: query
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
          description: Sort order for tools by creation time. 'asc' for oldest first, 'desc' for newest first
          default: desc
          title: Order
        description: Sort order for tools by creation time. 'asc' for oldest first, 'desc' for newest first
      - name: order_by
        in: query
        required: false
        schema:
          const: created_at
          type: string
          description: Field to sort by
          default: created_at
          title: Order By
        description: Field to sort by
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tool'
                title: Response List Tools For Agent
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/tools/attach/{tool_id}:
    patch:
      tags:
      - Agents
      summary: Attach Tool to Agent
      description: Attach a tool to an agent.
      operationId: attach_tool_to_agent
      parameters:
      - name: tool_id
        in: path
        required: true
        schema:
          type: string
          minLength: 41
          maxLength: 41
          pattern: ^tool-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the tool in the format 'tool-<uuid4>'
          examples:
          - tool-123e4567-e89b-42d3-8456-426614174000
          title: Tool Id
        description: The ID of the tool in the format 'tool-<uuid4>'
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/AgentState'
                - type: 'null'
                title: Response Attach Tool To Agent
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/tools/detach/{tool_id}:
    patch:
      tags:
      - Agents
      summary: Detach Tool from Agent
      description: Detach a tool from an agent.
      operationId: detach_tool_from_agent
      parameters:
      - name: tool_id
        in: path
        required: true
        schema:
          type: string
          minLength: 41
          maxLength: 41
          pattern: ^tool-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the tool in the format 'tool-<uuid4>'
          examples:
          - tool-123e4567-e89b-42d3-8456-426614174000
          title: Tool Id
        description: The ID of the tool in the format 'tool-<uuid4>'
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/AgentState'
                - type: 'null'
                title: Response Detach Tool From Agent
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/tools/approval/{tool_name}:
    patch:
      tags:
      - Agents
      summary: Modify Approval for Tool
      description: 'Modify the approval requirement for a tool attached to an agent.


        Accepts requires_approval via request body (preferred) or query parameter (deprecated).'
      operationId: modify_approval_for_tool
      parameters:
      - name: tool_name
        in: path
        required: true
        schema:
          type: string
          title: Tool Name
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      - name: requires_approval
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the tool requires approval before execution
          deprecated: true
          title: Requires Approval
        description: Whether the tool requires approval before execution
        deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/ModifyApprovalRequest'
              - type: 'null'
              title: Request
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/AgentState'
                - type: 'null'
                title: Response Modify Approval For Tool
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/tools/{tool_name}/run:
    post:
      tags:
      - Agents
      summary: Run Tool for Agent
      description: 'Trigger a tool by name on a specific agent, providing the necessary arguments.


        This endpoint executes a tool that is attached to the agent, using the agent''s

        state and environment variables for execution context.'
      operationId: run_tool_for_agent
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      - name: tool_name
        in: path
        required: true
        schema:
          type: string
          title: Tool Name
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/letta__schemas__mcp_server__ToolExecuteRequest'
              default:
                args: {}
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolExecutionResult'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/sources/attach/{source_id}:
    patch:
      tags:
      - Agents
      summary: Attach Source
      description: Attach a source to an agent.
      operationId: attach_source_to_agent
      deprecated: true
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          minLength: 43
          maxLength: 43
          pattern: ^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the source in the format 'source-<uuid4>'
          examples:
          - source-123e4567-e89b-42d3-8456-426614174000
          title: Source Id
        description: The ID of the source in the format 'source-<uuid4>'
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentState'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/folders/attach/{folder_id}:
    patch:
      tags:
      - Agents
      summary: Attach Folder to Agent
      description: Attach a folder to an agent.
      operationId: attach_folder_to_agent
      parameters:
      - name: folder_id
        in: path
        required: true
        schema:
          type: string
          minLength: 43
          maxLength: 43
          pattern: ^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the source in the format 'source-<uuid4>'
          examples:
          - source-123e4567-e89b-42d3-8456-426614174000
          title: Folder Id
        description: The ID of the source in the format 'source-<uuid4>'
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/AgentState'
                - type: 'null'
                title: Response Attach Folder To Agent
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/sources/detach/{source_id}:
    patch:
      tags:
      - Agents
      summary: Detach Source
      description: Detach a source from an agent.
      operationId: detach_source_from_agent
      deprecated: true
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          minLength: 43
          maxLength: 43
          pattern: ^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the source in the format 'source-<uuid4>'
          examples:
          - source-123e4567-e89b-42d3-8456-426614174000
          title: Source Id
        description: The ID of the source in the format 'source-<uuid4>'
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentState'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/folders/detach/{folder_id}:
    patch:
      tags:
      - Agents
      summary: Detach Folder from Agent
      description: Detach a folder from an agent.
      operationId: detach_folder_from_agent
      parameters:
      - name: folder_id
        in: path
        required: true
        schema:
          type: string
          minLength: 43
          maxLength: 43
          pattern: ^source-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the source in the format 'source-<uuid4>'
          examples:
          - source-123e4567-e89b-42d3-8456-426614174000
          title: Folder Id
        description: The ID of the source in the format 'source-<uuid4>'
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/AgentState'
                - type: 'null'
                title: Response Detach Folder From Agent
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/files/close-all:
    patch:
      tags:
      - Agents
      summary: Close All Files for Agent
      description: 'Closes all currently open files for a given agent.


        This endpoint updates the file state for the agent so that no files are marked as open.

        Typically used to reset the working memory view for the agent.'
      operationId: close_all_files_for_agent
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                title: Response Close All Files For Agent
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/files/{file_id}/open:
    patch:
      tags:
      - Agents
      summary: Open File for Agent
      description: 'Opens a specific file for a given agent.


        This endpoint marks a specific file as open in the agent''s file state.

        The file will be included in the agent''s working memory view.

        Returns a list of file names that were closed due to LRU eviction.'
      operationId: open_file_for_agent
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          minLength: 41
          maxLength: 41
          pattern: ^file-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the file in the format 'file-<uuid4>'
          examples:
          - file-123e4567-e89b-42d3-8456-426614174000
          title: File Id
        description: The ID of the file in the format 'file-<uuid4>'
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                title: Response Open File For Agent
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/files/{file_id}/close:
    patch:
      tags:
      - Agents
      summary: Close File for Agent
      description: 'Closes a specific file for a given agent.


        This endpoint marks a specific file as closed in the agent''s file state.

        The file will be removed from the agent''s working memory view.'
      operationId: close_file_for_agent
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          minLength: 41
          maxLength: 41
          pattern: ^file-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the file in the format 'file-<uuid4>'
          examples:
          - file-123e4567-e89b-42d3-8456-426614174000
          title: File Id
        description: The ID of the file in the format 'file-<uuid4>'
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/sources:
    get:
      tags:
      - Agents
      summary: List Agent Sources
      description: Get the sources associated with an agent.
      operationId: list_agent_sources
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Source ID cursor for pagination. Returns sources that come before this source ID in the specified sort order
          title: Before
        description: Source ID cursor for pagination. Returns sources that come before this source ID in the specified sort order
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Source ID cursor for pagination. Returns sources that come after this source ID in the specified sort order
          title: After
        description: Source ID cursor for pagination. Returns sources that come after this source ID in the specified sort order
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Maximum number of sources to return
          default: 100
          title: Limit
        description: Maximum number of sources to return
      - name: order
        in: query
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
          description: Sort order for sources by creation time. 'asc' for oldest first, 'desc' for newest first
          default: desc
          title: Order
        description: Sort order for sources by creation time. 'asc' for oldest first, 'desc' for newest first
      - name: order_by
        in: query
        required: false
        schema:
          const: created_at
          type: string
          description: Field to sort by
          default: created_at
          title: Order By
        description: Field to sort by
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Source'
                title: Response List Agent Sources
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/folders:
    get:
      tags:
      - Agents
      summary: List Folders for Agent
      description: Get the folders associated with an agent.
      operationId: list_folders_for_agent
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Source ID cursor for pagination. Returns sources that come before this source ID in the specified sort order
          title: Before
        description: Source ID cursor for pagination. Returns sources that come before this source ID in the specified sort order
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Source ID cursor for pagination. Returns sources that come after this source ID in the specified sort order
          title: After
        description: Source ID cursor for pagination. Returns sources that come after this source ID in the specified sort order
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Maximum number of sources to return
          default: 100
          title: Limit
        description: Maximum number of sources to return
      - name: order
        in: query
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
          description: Sort order for sources by creation time. 'asc' for oldest first, 'desc' for newest first
          default: desc
          title: Order
        description: Sort order for sources by creation time. 'asc' for oldest first, 'desc' for newest first
      - name: order_by
        in: query
        required: false
        schema:
          const: created_at
          type: string
          description: Field to sort by
          default: created_at
          title: Order By
        description: Field to sort by
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Source'
                title: Response List Folders For Agent
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/files:
    get:
      tags:
      - Agents
      summary: List Files for Agent
      description: Get the files attached to an agent with their open/closed status.
      operationId: list_files_for_agent
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: File ID cursor for pagination. Returns files that come before this file ID in the specified sort order
          title: Before
        description: File ID cursor for pagination. Returns files that come before this file ID in the specified sort order
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: File ID cursor for pagination. Returns files that come after this file ID in the specified sort order
          title: After
        description: File ID cursor for pagination. Returns files that come after this file ID in the specified sort order
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Maximum number of files to return
          default: 100
          title: Limit
        description: Maximum number of files to return
      - name: order
        in: query
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
          description: Sort order for files by creation time. 'asc' for oldest first, 'desc' for newest first
          default: desc
          title: Order
        description: Sort order for files by creation time. 'asc' for oldest first, 'desc' for newest first
      - name: order_by
        in: query
        required: false
        schema:
          const: created_at
          type: string
          description: Field to sort by
          default: created_at
          title: Order By
        description: Field to sort by
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor from previous response (deprecated, use before/after)
          deprecated: true
          title: Cursor
        description: Pagination cursor from previous response (deprecated, use before/after)
        deprecated: true
      - name: is_open
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter by open status (true for open files, false for closed files)
          title: Is Open
        description: Filter by open status (true for open files, false for closed files)
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAgentFiles'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/core-memory:
    get:
      tags:
      - Agents
      summary: Retrieve Agent Memory
      description: 'Retrieve the memory state of a specific agent.

        This endpoint fetches the current memory state of the agent identified by the user ID and agent ID.'
      operationId: retrieve_agent_memory
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Memory'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/core-memory/blocks/{block_label}:
    get:
      tags:
      - Agents
      summary: Retrieve Block for Agent
      description: Retrieve a core memory block from an agent.
      operationId: retrieve_core_memory_block
      parameters:
      - name: block_label
        in: path
        required: true
        schema:
          type: string
          title: Block Label
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Agents
      summary: Modify Block for Agent
      description: Updates a core memory block of an agent.
      operationId: modify_core_memory_block
      parameters:
      - name: block_label
        in: path
        required: true
        schema:
          type: string
          title: Block Label
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/core-memory/blocks:
    get:
      tags:
      - Agents
      summary: List Blocks for Agent
      description: Retrieve the core memory blocks of a specific agent.
      operationId: list_core_memory_blocks
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Block ID cursor for pagination. Returns blocks that come before this block ID in the specified sort order
          title: Before
        description: Block ID cursor for pagination. Returns blocks that come before this block ID in the specified sort order
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Block ID cursor for pagination. Returns blocks that come after this block ID in the specified sort order
          title: After
        description: Block ID cursor for pagination. Returns blocks that come after this block ID in the specified sort order
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Maximum number of blocks to return
          default: 100
          title: Limit
        description: Maximum number of blocks to return
      - name: order
        in: query
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
          description: Sort order for blocks by creation time. 'asc' for oldest first, 'desc' for newest first
          default: desc
          title: Order
        description: Sort order for blocks by creation time. 'asc' for oldest first, 'desc' for newest first
      - name: order_by
        in: query
        required: false
        schema:
          const: created_at
          type: string
          description: Field to sort by
          default: created_at
          title: Order By
        description: Field to sort by
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BlockResponse'
                title: Response List Core Memory Blocks
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/recompile:
    post:
      tags:
      - Agents
      summary: Recompile Agent
      description: Manually trigger system prompt recompilation for an agent.
      operationId: recompile_agent
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      - name: update_timestamp
        in: query
        required: false
        schema:
          type: boolean
          description: If True, update the in-context memory last edit timestamp embedded in the system prompt.
          default: false
          title: Update Timestamp
        description: If True, update the in-context memory last edit timestamp embedded in the system prompt.
      - name: dry_run
        in: query
        required: false
        schema:
          type: boolean
          description: If True, do not persist changes; still returns the compiled system prompt.
          default: false
          title: Dry Run
        description: If True, do not persist changes; still returns the compiled system prompt.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: string
                title: Response Recompile Agent
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/system-prompt/recompile:
    post:
      tags:
      - Agents
      summary: Recompile Agent System Prompt
      description: Deprecated alias for POST /v1/agents/{agent_id}/recompile.
      operationId: recompile_agent_system_prompt
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      - name: update_timestamp
        in: query
        required: false
        schema:
          type: boolean
          description: If True, update the in-context memory last edit timestamp embedded in the system prompt.
          default: false
          title: Update Timestamp
        description: If True, update the in-context memory last edit timestamp embedded in the system prompt.
      - name: dry_run
        in: query
        required: false
        schema:
          type: boolean
          description: If True, do not persist changes; still returns the compiled system prompt.
          default: false
          title: Dry Run
        description: If True, do not persist changes; still returns the compiled system prompt.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: string
                title: Response Recompile Agent System Prompt
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/core-memory/blocks/attach/{block_id}:
    patch:
      tags:
      - Agents
      summary: Attach Block to Agent
      description: Attach a core memory block to an agent.
      operationId: attach_core_memory_block
      parameters:
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^block-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the block in the format 'block-<uuid4>'
          examples:
          - block-123e4567-e89b-42d3-8456-426614174000
          title: Block Id
        description: The ID of the block in the format 'block-<uuid4>'
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentState'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/core-memory/blocks/detach/{block_id}:
    patch:
      tags:
      - Agents
      summary: Detach Block from Agent
      description: Detach a core memory block from an agent.
      operationId: detach_core_memory_block
      parameters:
      - name: block_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^block-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the block in the format 'block-<uuid4>'
          examples:
          - block-123e4567-e89b-42d3-8456-426614174000
          title: Block Id
        description: The ID of the block in the format 'block-<uuid4>'
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentState'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/archives/attach/{archive_id}:
    patch:
      tags:
      - Agents
      summary: Attach Archive to Agent
      description: Attach an archive to an agent.
      operationId: attach_archive_to_agent
      parameters:
      - name: archive_id
        in: path
        required: true
        schema:
          type: string
          title: Archive Id
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/archives/detach/{archive_id}:
    patch:
      tags:
      - Agents
      summary: Detach Archive from Agent
      description: Detach an archive from an agent.
      operationId: detach_archive_from_agent
      parameters:
      - name: archive_id
        in: path
        required: true
        schema:
          type: string
          title: Archive Id
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/identities/attach/{identity_id}:
    patch:
      tags:
      - Agents
      summary: Attach Identity to Agent
      description: Attach an identity to an agent.
      operationId: attach_identity_to_agent
      parameters:
      - name: identity_id
        in: path
        required: true
        schema:
          type: string
          title: Identity Id
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/identities/detach/{identity_id}:
    patch:
      tags:
      - Agents
      summary: Detach Identity from Agent
      description: Detach an identity from an agent.
      operationId: detach_identity_from_agent
      parameters:
      - name: identity_id
        in: path
        required: true
        schema:
          type: string
          title: Identity Id
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/archival-memory:
    get:
      tags:
      - Agents
      summary: List Passages
      description: Retrieve the memories in an agent's archival memory store (paginated query).
      operationId: list_passages
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Unique ID of the memory to start the query range at.
          title: After
        description: Unique ID of the memory to start the query range at.
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Unique ID of the memory to end the query range at.
          title: Before
        description: Unique ID of the memory to end the query range at.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: How many results to include in the response.
          default: 100
          title: Limit
        description: How many results to include in the response.
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search passages by text
          title: Search
        description: Search passages by text
      - name: ascending
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether to sort passages oldest to newest (True, default) or newest to oldest (False)
          default: true
          title: Ascending
        description: Whether to sort passages oldest to newest (True, default) or newest to oldest (False)
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Passage'
                title: Response List Passages
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Agents
      summary: Create Passage
      description: Insert a memory into an agent's archival memory store.
      operationId: create_passage
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateArchivalMemory'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Passage'
                title: Response Create Passage
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/archival-memory/search:
    get:
      tags:
      - Agents
      summary: Search Archival Memory
      description: 'Search archival memory using semantic (embedding-based) search with optional temporal filtering.


        This endpoint allows manual triggering of archival memory searches, enabling users to query

        an agent''s archival memory store directly via the API. The search uses the same functionality

        as the agent''s archival_memory_search tool but is accessible for external API usage.'
      operationId: search_archival_memory
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      - name: query
        in: query
        required: true
        schema:
          type: string
          description: String to search for using semantic similarity
          title: Query
        description: String to search for using semantic similarity
      - name: tags
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Optional list of tags to filter search results
          title: Tags
        description: Optional list of tags to filter search results
      - name: tag_match_mode
        in: query
        required: false
        schema:
          enum:
          - any
          - all
          type: string
          description: How to match tags - 'any' to match passages with any of the tags, 'all' to match only passages with all tags
          default: any
          title: Tag Match Mode
        description: How to match tags - 'any' to match passages with any of the tags, 'all' to match only passages with all tags
      - name: top_k
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Maximum number of results to return. Uses system default if not specified
          title: Top K
        description: Maximum number of results to return. Uses system default if not specified
      - name: start_datetime
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Filter results to passages created after this datetime
          title: Start Datetime
        description: Filter results to passages created after this datetime
      - name: end_datetime
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Filter results to passages created before this datetime
          title: End Datetime
        description: Filter results to passages created before this datetime
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivalMemorySearchResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/archival-memory/{memory_id}:
    delete:
      tags:
      - Agents
      summary: Delete Passage
      description: Delete a memory from an agent's archival memory store.
      operationId: delete_passage
      parameters:
      - name: memory_id
        in: path
        required: true
        schema:
          type: string
          title: Memory Id
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/messages:
    get:
      tags:
      - Agents
      summary: List Messages
      description: Retrieve message history for an agent.
      operationId: list_messages
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Message ID cursor for pagination. Returns messages that come before this message ID in the specified sort order
          title: Before
        description: Message ID cursor for pagination. Returns messages that come before this message ID in the specified sort order
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Message ID cursor for pagination. Returns messages that come after this message ID in the specified sort order
          title: After
        description: Message ID cursor for pagination. Returns messages that come after this message ID in the specified sort order
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Maximum number of messages to return
          default: 100
          title: Limit
        description: Maximum number of messages to return
      - name: order
        in: query
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
          description: Sort order for messages by creation time. 'asc' for oldest first, 'desc' for newest first
          default: desc
          title: Order
        description: Sort order for messages by creation time. 'asc' for oldest first, 'desc' for newest first
      - name: order_by
        in: query
        required: false
        schema:
          const: created_at
          type: string
          description: Field to sort by
          default: created_at
          title: Order By
        description: Field to sort by
      - name: group_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Group ID to filter messages by.
          title: Group Id
        description: Group ID to filter messages by.
      - name: conversation_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Conversation ID to filter messages by.
          title: Conversation Id
        description: Conversation ID to filter messages by.
      - name: use_assistant_message
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to use assistant messages
          deprecated: true
          default: true
          title: Use Assistant Message
        description: Whether to use assistant messages
        deprecated: true
      - name: assistant_message_tool_name
        in: query
        required: false
        schema:
          type: string
          description: The name of the designated message tool.
          deprecated: true
          default: send_message
          title: Assistant Message Tool Name
        description: The name of the designated message tool.
        deprecated: true
      - name: assistant_message_tool_kwarg
        in: query
        required: false
        schema:
          type: string
          description: The name of the message argument.
          deprecated: true
          default: message
          title: Assistant Message Tool Kwarg
        description: The name of the message argument.
        deprecated: true
      - name: include_err
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether to include error messages and error statuses. For debugging purposes only.
          title: Include Err
        description: Whether to include error messages and error statuses. For debugging purposes only.
      - name: include_return_message_types
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/MessageType'
          - type: 'null'
          description: Message types to include in response. When null, all message types are returned.
          title: Include Return Message Types
        description: Message types to include in response. When null, all message types are returned.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LettaMessageUnion'
                title: Response List Messages
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Agents
      summary: Send Message
      description: 'Process a user message and return the agent''s response.

        This endpoint accepts a message from a user and processes it through the agent.


        **Note:** Sending multiple concurrent requests to the same agent can lead to undefined behavior.

        Each agent processes messages sequentially, and concurrent requests may interleave in unexpected ways.

        Wait for each request to complete before sending the next one. Use separate agents or conversations for parallel processing.


        The response format is controlled by the `streaming` field in the request body:

        - If `streaming=false` (default): Returns a complete LettaResponse with all messages

        - If `streaming=true`: Returns a Server-Sent Events (SSE) stream


        Additional streaming options (only used when streaming=true):

        - `stream_tokens`: Stream individual tokens instead of complete steps

        - `include_pings`: Include keepalive pings to prevent connection timeouts

        - `background`: Process the request in the background'
      operationId: send_message
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LettaStreamingRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LettaResponse'
            text/event-stream:
              description: Server-Sent Events stream (when streaming=true in request body)
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/messages/{message_id}:
    patch:
      tags:
      - Agents
      summary: Modify Message
      description: 'Update the details of a message associated with an agent.


        **Deprecated**: Messages are now considered immutable since they can be shared across

        multiple conversations via forking. This endpoint will be removed in a future version.'
      operationId: modify_message
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      - name: message_id
        in: path
        required: true
        schema:
          type: string
          minLength: 44
          maxLength: 44
          pattern: ^message-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the message in the format 'message-<uuid4>'
          examples:
          - message-123e4567-e89b-42d3-8456-426614174000
          title: Message Id
        description: The ID of the message in the format 'message-<uuid4>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/UpdateSystemMessage'
              - $ref: '#/components/schemas/UpdateUserMessage'
              - $ref: '#/components/schemas/UpdateReasoningMessage'
              - $ref: '#/components/schemas/UpdateAssistantMessage'
              title: Request
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/SystemMessage'
                - $ref: '#/components/schemas/UserMessage'
                - $ref: '#/components/schemas/ReasoningMessage'
                - $ref: '#/components/schemas/HiddenReasoningMessage'
                - $ref: '#/components/schemas/ToolCallMessage'
                - $ref: '#/components/schemas/ToolReturnMessage'
                - $ref: '#/components/schemas/AssistantMessage'
                - $ref: '#/components/schemas/ApprovalRequestMessage'
                - $ref: '#/components/schemas/ApprovalResponseMessage'
                - $ref: '#/components/schemas/SummaryMessage'
                - $ref: '#/components/schemas/EventMessage'
                discriminator:
                  propertyName: message_type
                  mapping:
                    system_message: '#/components/schemas/SystemMessage'
                    user_message: '#/components/schemas/UserMessage'
                    reasoning_message: '#/components/schemas/ReasoningMessage'
                    hidden_reasoning_message: '#/components/schemas/HiddenReasoningMessage'
                    tool_call_message: '#/components/schemas/ToolCallMessage'
                    tool_return_message: '#/components/schemas/ToolReturnMessage'
                    assistant_message: '#/components/schemas/AssistantMessage'
                    approval_request_message: '#/components/schemas/ApprovalRequestMessage'
                    approval_response_message: '#/components/schemas/ApprovalResponseMessage'
                    summary_message: '#/components/schemas/SummaryMessage'
                    event_message: '#/components/schemas/EventMessage'
                title: Response Modify Message
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/messages/stream:
    post:
      tags:
      - Agents
      summary: Send Message Streaming
      description: 'Process a user message and return the agent''s response.


        Deprecated: Use the `POST /{agent_id}/messages` endpoint with `streaming=true` in the request body instead.


        **Note:** Sending multiple concurrent requests to the same agent can lead to undefined behavior.

        Each agent processes messages sequentially, and concurrent requests may interleave in unexpected ways.

        Wait for each request to complete before sending the next one. Use separate agents or conversations for parallel processing.


        This endpoint accepts a message from a user and processes it through the agent.

        It will stream the steps of the response always, and stream the tokens if ''stream_tokens'' is set to True.'
      operationId: create_agent_message_stream
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^agent-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
          description: The ID of the agent in the format 'agent-<uuid4>'
          examples:
          - agent-123e4567-e89b-42d3-8456-426614174000
          title: Agent Id
        description: The ID of the agent in the format 'agent-<uuid4>'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LettaStreamingRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LettaStreamingResponse'
            text/event-stream:
              description: Server-Sent Events stream
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/agents/{agent_id}/messages/cancel:
    post:
      tags:
      - Agents
[...]
