openapi: 3.1.0
info:
  title: Letta Admin Client-Side Access Tokens API
  version: 1.0.0
  description: REST API for Letta, the stateful agents platform. Manage agents, memory blocks, archival passages, sources, custom tools, MCP servers, multi-agent groups, runs, and streaming responses. Available as Letta Cloud (managed) at https://api.letta.com/v1 and as the self-hosted open-source server (Apache-2.0) typically run at http://localhost:8283.
  contact:
    name: Letta
    url: https://www.letta.com/
    email: support@letta.com
  license:
    name: Apache-2.0
    url: https://github.com/letta-ai/letta/blob/main/LICENSE
  x-logo:
    url: https://www.letta.com/favicon.ico
servers:
- url: https://api.letta.com
  description: Letta Cloud (managed)
- url: https://app.letta.com
  description: Letta Cloud (app)
- url: http://localhost:8283
  description: Self-hosted Letta server
security:
- bearerAuth: []
tags:
- name: Client-Side Access Tokens
  description: Mint short-lived client-side access tokens for browser/mobile use.
paths:
  /v1/client-side-access-tokens:
    post:
      description: Create a new client side access token with the specified configuration.
      summary: Create Token (Cloud-only)
      tags:
      - Client-Side Access Tokens
      parameters: []
      operationId: clientSideAccessTokens.createClientSideAccessToken
      requestBody:
        description: Body
        content:
          application/json:
            schema:
              type: object
              properties:
                policy:
                  type: array
                  items:
                    discriminator:
                      propertyName: type
                    oneOf:
                    - type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - agent
                        id:
                          type: string
                        access:
                          type: array
                          items:
                            type: string
                            enum:
                            - read_messages
                            - write_messages
                            - read_agent
                            - write_agent
                      required:
                      - type
                      - id
                      - access
                hostname:
                  type: string
                  format: uri
                  pattern: ^(http|https):\/\/
                  description: The hostname of the client side application. Please specify the full URL including the protocol (http or https).
                expires_at:
                  type: string
                  description: The expiration date of the token. If not provided, the token will expire in 5 minutes
              required:
              - policy
              - hostname
      responses:
        '201':
          description: '201'
          content:
            application/json:
              schema:
                type: object
                properties:
                  policy:
                    type: object
                    properties:
                      version:
                        type: string
                        enum:
                        - '1'
                      data:
                        type: array
                        items:
                          discriminator:
                            propertyName: type
                          oneOf:
                          - type: object
                            properties:
                              type:
                                type: string
                                enum:
                                - agent
                              id:
                                type: string
                              access:
                                type: array
                                items:
                                  type: string
                                  enum:
                                  - read_messages
                                  - write_messages
                                  - read_agent
                                  - write_agent
                            required:
                            - type
                            - id
                            - access
                    required:
                    - version
                    - data
                  token:
                    type: string
                  hostname:
                    type: string
                  expiresAt:
                    type: string
                required:
                - policy
                - token
                - hostname
                - expiresAt
        '400':
          description: '400'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
    get:
      description: List all client side access tokens for the current account. This is only available for cloud users.
      summary: List Tokens (Cloud-only)
      tags:
      - Client-Side Access Tokens
      parameters:
      - name: agentId
        in: query
        description: The agent ID to filter tokens by. If provided, only tokens for this agent will be returned.
        schema:
          type: string
      - name: offset
        in: query
        description: The offset for pagination. Defaults to 0.
        schema:
          default: 0
          type: number
      - name: limit
        in: query
        description: The number of tokens to return per page. Defaults to 10.
        schema:
          default: 10
          type: number
      operationId: clientSideAccessTokens.listClientSideAccessTokens
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokens:
                    type: array
                    items:
                      type: object
                      properties:
                        policy:
                          type: object
                          properties:
                            version:
                              type: string
                              enum:
                              - '1'
                            data:
                              type: array
                              items:
                                discriminator:
                                  propertyName: type
                                oneOf:
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                      - agent
                                    id:
                                      type: string
                                    access:
                                      type: array
                                      items:
                                        type: string
                                        enum:
                                        - read_messages
                                        - write_messages
                                        - read_agent
                                        - write_agent
                                  required:
                                  - type
                                  - id
                                  - access
                          required:
                          - version
                          - data
                        token:
                          type: string
                        hostname:
                          type: string
                        expiresAt:
                          type: string
                      required:
                      - policy
                      - token
                      - hostname
                      - expiresAt
                  hasNextPage:
                    type: boolean
                required:
                - tokens
                - hasNextPage
        '400':
          description: '400'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
  /v1/client-side-access-tokens/{token}:
    delete:
      description: Delete a client side access token.
      summary: Delete Token (Cloud-only)
      tags:
      - Client-Side Access Tokens
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: The access token to delete
      operationId: clientSideAccessTokens.deleteClientSideAccessToken
      requestBody:
        description: Body
        content:
          application/json:
            schema: {}
      responses:
        '204':
          description: '204'
          content:
            application/json:
              schema: {}
        '400':
          description: '400'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
