openapi: 3.1.0
info:
  title: Letta Admin Voice API
  version: 1.0.0
  description: REST API for Letta, the stateful agents platform. Manage agents, memory blocks, archival passages, sources, custom tools, MCP servers, multi-agent groups, runs, and streaming responses. Available as Letta Cloud (managed) at https://api.letta.com/v1 and as the self-hosted open-source server (Apache-2.0) typically run at http://localhost:8283.
  contact:
    name: Letta
    url: https://www.letta.com/
    email: support@letta.com
  license:
    name: Apache-2.0
    url: https://github.com/letta-ai/letta/blob/main/LICENSE
  x-logo:
    url: https://www.letta.com/favicon.ico
servers:
- url: https://api.letta.com
  description: Letta Cloud (managed)
- url: https://app.letta.com
  description: Letta Cloud (app)
- url: http://localhost:8283
  description: Self-hosted Letta server
security:
- bearerAuth: []
tags:
- name: Voice
  description: Voice (low-latency) chat completions endpoint for agents.
paths:
  /v1/voice-beta/{agent_id}/chat/completions:
    post:
      tags:
      - Voice
      summary: Create Voice Chat Completions
      description: 'DEPRECATED: This voice-beta endpoint has been deprecated.


        The voice functionality has been integrated into the main chat completions endpoint.

        Please use the standard /v1/agents/{agent_id}/messages endpoint instead.


        This endpoint will be removed in a future version.'
      operationId: create_voice_chat_completions
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              title: Completion Request
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
            text/event-stream: {}
        '410':
          description: Endpoint deprecated
          content:
            application/json:
              example:
                detail: This endpoint has been deprecated
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
